{
  "openapi": "3.1.0",
  "info": {
    "title": "BulkPublish API",
    "version": "1.0.0",
    "description": "Publish to 15 social media platforms from a single API.\n\n## Using this API from an AI agent\n\nEverything below is also available as an [MCP](https://modelcontextprotocol.io) server, so Claude, ChatGPT, Cursor and other agents can drive BulkPublish directly.\n\n**Hosted (web-based hosts):** add `https://mcp.bulkpublish.com/mcp` as a custom connector. It supports OAuth 2.1 \u2014 you paste your API key once on the consent screen \u2014 or a key in the URL (`?key=bp_...`) for hosts without OAuth.\n\n**Local (Claude Code, Cursor, Codex, Windsurf):** `npx -y @bulkpublish/mcp-server`, with `BULKPUBLISH_API_KEY` in the environment.\n\nPer-client config and the full tool list: [BulkPublish AI Toolkit](https://github.com/azeemkafridi/bulkpublish-ai-toolkit). Get an API key at [/developer](https://app.bulkpublish.com/developer)."
  },
  "servers": [
    {
      "url": "https://app.bulkpublish.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key from Settings > API Keys. Pass as `Bearer bp_your_key_here`"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "**Beta.** For products that embed BulkPublish and do not want their users pasting an API key. The user approves your app on BulkPublish and you receive a scoped token bound to the workspace they chose. PKCE (S256) is required for every client, `scope` is required (there is no implicit default), authorization codes are single-use, and refresh tokens rotate. Pass the token as `Bearer bpat_...`.\n\nOAuth tokens reach posts, schedules, labels, media, analytics, quota usage and read-only channel data \u2014 and nothing else. Account administration (team, organizations, billing and credit purchases, API keys, OAuth app management) returns 403 for **any** OAuth token, including `full`, because those actions would outlive the user disconnecting the app. Use an API key (`Bearer bp_...`) for those; keys are unaffected by this and remain the default for server-to-server use.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.bulkpublish.com/oauth/authorize",
            "tokenUrl": "https://app.bulkpublish.com/api/oauth/token",
            "refreshUrl": "https://app.bulkpublish.com/api/oauth/token",
            "scopes": {
              "posts:read": "View posts and their status",
              "posts:write": "Create, update, schedule and publish posts",
              "media:read": "View uploaded media",
              "media:write": "Upload and delete media",
              "analytics:read": "View analytics and post metrics",
              "channels:read": "See which social accounts are connected",
              "full": "Everything an app may do: read and write posts, schedules, labels and media, and read analytics and channels"
            }
          }
        }
      }
    },
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "publishing",
              "published",
              "processing",
              "failed",
              "partial"
            ]
          },
          "scheduledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "timezone": {
            "type": "string"
          },
          "postFormat": {
            "type": "string",
            "enum": [
              "post",
              "video",
              "reel",
              "story",
              "carousel",
              "thread"
            ]
          },
          "postTypeOverrides": {
            "type": "object",
            "description": "Per-platform post type override. E.g. { \"instagram\": \"reel\", \"facebook\": \"story\" }. A type the platform does not offer is rejected with 400 VALIDATION_ERROR (previously it silently fell back to the platform default). Instagram: feed_photo, feed_video, reel, story, carousel. Facebook: post, reel, story. TikTok: video, photo_slideshow. YouTube: video, short. LinkedIn: post, multi_image. Pinterest: pin, video_pin, carousel. GMB: standard, event, offer. Snapchat: story, saved_story, spotlight. `repost` (X, Threads, Bluesky, Mastodon) reposts an existing post at the scheduled time: the post's own text and media are ignored and `platformSpecific.<platform>.repostId` must hold the target (X: status URL or ID; Mastodon: status URL or ID; Bluesky: bsky.app post URL or at:// URI; Threads: the numeric post ID; Threads links cannot be used, and for posts published through BulkPublish the ID is in the post details). A missing or unparsable target is rejected with 400 VALIDATION_ERROR. Rolling out: until it is switched on for your account the composer does not offer it."
          },
          "platformSpecific": {
            "type": "object",
            "description": "Per-platform options. Keys are platform names. Facebook: { shareToStory, thumbnailUrl }. thumbnailUrl is the cover for a video or Reel; it is applied to the video after it publishes, so it lands a moment after the post, and a cover that cannot be fetched or is rejected leaves the video published with Facebook's own chosen frame rather than failing the post. Instagram: { collaborators, shareToStory, trialReel (post type `reel` only \u2014 ignored on `feed_video`), graduationStrategy ('manual'|'auto' \u2014 any other value is rejected with 400 VALIDATION_ERROR; ignored unless trialReel is true), thumbnailTimestamp (seconds), coverUrl }. collaborators is a comma-separated list of Instagram usernames (no leading @) tagged as co-authors; it applies to post types feed_photo, feed_video, reel and carousel \u2014 on a carousel it is set on the carousel itself rather than on its individual items \u2014 and is ignored on story, which has no co-author concept. thumbnailTimestamp and coverUrl both set the still shown before a video or Reel plays, and both apply to post types feed_video and reel; coverUrl wins when both are sent, because Instagram rejects a request carrying both. TikTok: { privacyLevel ('PUBLIC_TO_EVERYONE'|'MUTUAL_FOLLOW_FRIENDS'|'FOLLOWER_OF_CREATOR'|'SELF_ONLY' \u2014 any other value is rejected with 400 VALIDATION_ERROR; only the levels the connected account's creator info lists are accepted by TikTok), disableDuet, disableStitch, disableComment, isAigc, brandContentToggle, brandOrganicToggle, thumbnailTimestamp }. YouTube: { title, privacyStatus ('public'|'unlisted'|'private' \u2014 any other value is rejected with 400 VALIDATION_ERROR), categoryId, madeForKids, playlistId, thumbnailUrl }. Pinterest: { title, description, link, [channelId]: { boardId } }. GMB: { ctaType ('BOOK'|'ORDER'|'SHOP'|'LEARN_MORE'|'SIGN_UP'|'CALL' \u2014 any other value is rejected with 400 VALIDATION_ERROR), ctaUrl, eventTitle, startDate, startTime, endDate, endTime, couponCode, redeemOnlineUrl, termsConditions }. X: { replySettings ('everyone'|'following'|'verified'|'subscribers'|'mentionedUsers' \u2014 any other value is rejected with 400 VALIDATION_ERROR) }. Threads: { quotePostId, topicTag, locationId }. topicTag is one topic per post, sent without a leading '#'; a value containing a period or an ampersand is rejected with 400 VALIDATION_ERROR. locationId is a numeric place ID from GET /api/channels/{id}/options?q=<place> on a Threads channel (any other value is rejected with 400 VALIDATION_ERROR); location search is available only once the connected Threads account has granted location tagging, and the options endpoint answers { unavailable: true } until then. Both apply to the root post of a thread, never to its replies. Snapchat: { [channelId]: { title (Saved Story title, max 45 chars \u2014 defaults to the caption's first line), locale (Spotlight locale, default 'en_US'), saveToProfile (Spotlight only, default true) } }. Use _firstComment (string) for auto-posted reply after publish."
          },
          "platformContent": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Per-platform content overrides mapping platform name to a plain string, e.g. { \"x\": \"Short version\" }. Values must be strings \u2014 nested objects are rejected with 400 VALIDATION_ERROR."
          },
          "deleteMediaAfterPublish": {
            "type": "boolean",
            "default": false,
            "description": "Whether uploaded media is deleted right after publishing. When true, the file's original is removed once every channel on the post has published, and the space it used stops counting toward your media storage limit; the library entry itself stays, showing a preview and the original's size, and is marked as having its original deleted. Defaults to false \u2014 media is kept and reclaimed by the 3-month retention sweep. Always false for recurring-schedule posts and bulk-created posts."
          },
          "autoPlugEnabled": {
            "type": "boolean"
          },
          "autoPlugText": {
            "type": [
              "string",
              "null"
            ]
          },
          "autoPlugThreshold": {
            "type": "integer"
          },
          "autoPlugFired": {
            "type": "boolean"
          },
          "autoRepostEnabled": {
            "type": "boolean"
          },
          "autoRepostThreshold": {
            "type": "integer"
          },
          "autoRepostFired": {
            "type": "boolean"
          },
          "recurringScheduleId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "recurringSchedule": {
            "type": [
              "object",
              "null"
            ],
            "description": "Full recurring schedule details when linked"
          },
          "mediaFiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaFile"
            }
          },
          "postPlatforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostPlatform"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Label"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "publishedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "approvalStatus": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "approved",
              "rejected"
            ],
            "default": "none",
            "description": "Team approval state, orthogonal to status. 'pending' and 'rejected' posts are skipped by the scheduler even when scheduled and overdue; approving via POST /api/posts/{id}/approve releases them (an overdue post publishes immediately on approval). Members whose role lacks post:publish (contributors) always get 'pending' when scheduling; others can opt in with requestApproval."
          },
          "approvedBy": {
            "type": [
              "string",
              "null"
            ],
            "description": "User ID of the approver (set when approvalStatus is 'approved')."
          },
          "approvedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Reviewer's reason when approvalStatus is 'rejected'."
          },
          "threadParts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string"
                },
                "mediaFileIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            },
            "description": "The ordered parts of a thread post. Null unless postFormat is 'thread'. Accepted on create and update; returned here since 2026-09."
          },
          "threadMediaFiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaFile"
            },
            "description": "Media referenced by threadParts[].mediaFileIds, resolved to full objects and de-duplicated across parts. Distinct from mediaFiles, which is the media on the post itself: a thread post can carry both, and a client that reads only mediaFiles will render a thread without its images."
          },
          "assignee": {
            "type": [
              "object",
              "null"
            ],
            "description": "The member expected to act on the post next, or null when nobody is. Set with assignedUserId on PATCH /api/posts/{id}.",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "image": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "assignedUserId": {
            "type": [
              "string",
              "null"
            ],
            "description": "User ID of the assignee; `assignee` carries the same person with a display name."
          },
          "assignedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the post was assigned. Null once it is unassigned."
          },
          "rejectedBy": {
            "type": [
              "string",
              "null"
            ],
            "description": "User ID of the reviewer who rejected the post, alongside rejectionReason."
          },
          "author": {
            "type": [
              "object",
              "null"
            ],
            "description": "The member who wrote the post. Null when that account no longer exists.",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "image": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "approver": {
            "type": [
              "object",
              "null"
            ],
            "description": "The member who approved the post. Null unless approvalStatus is 'approved' and that account still exists.",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "image": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "userId": {
            "type": "string",
            "description": "User ID of the member who wrote the post. Returned on every post and always has been; `author` carries the same person with a display name."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the post was last changed."
          },
          "hasShareLink": {
            "type": "boolean",
            "description": "Whether a read-only review link exists for the post. The token itself is never returned on reads; POST /api/posts/{id}/share returns the URL to the roles allowed to manage links."
          }
        }
      },
      "PostPlatform": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "channelId": {
            "type": "integer"
          },
          "platform": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "publishing",
              "published",
              "failed",
              "processing",
              "unconfirmed"
            ],
            "description": "Per-platform publish state. 'unconfirmed' is terminal: the publish request may have reached the platform but its response was lost, or the platform was still processing the upload when we stopped polling (video processing can outlast the check window) \u2014 check the account, then retry with republish: true if the post is not live."
          },
          "platformPostId": {
            "type": [
              "string",
              "null"
            ]
          },
          "platformUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "retryCount": {
            "type": "integer"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "platform": {
            "type": "string",
            "enum": [
              "facebook",
              "instagram",
              "x",
              "tiktok",
              "youtube",
              "threads",
              "bluesky",
              "pinterest",
              "gmb",
              "linkedin",
              "mastodon",
              "reddit",
              "discord",
              "telegram",
              "tumblr",
              "snapchat"
            ]
          },
          "accountName": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "accountType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Platform-specific account variant (e.g. `organization` for a LinkedIn company page); `null` where the platform has only one kind of account."
          },
          "profileImage": {
            "type": [
              "string",
              "null"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "needsReconnect": {
            "type": "boolean",
            "description": "`true` once a live request has proved the stored access token dead. Publishing fails until the account is reconnected; clears on reconnect."
          },
          "autoRenews": {
            "type": "boolean",
            "description": "Whether the access token renews on its own before it expires. `false` means the token has a fixed lifetime and the account must be reconnected when `tokenStatus` reaches `expired`."
          },
          "tokenStatus": {
            "type": "string",
            "enum": [
              "valid",
              "expiring_soon",
              "expired"
            ]
          },
          "tokenExpiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "platformAvailable": {
            "type": "boolean",
            "description": "Whether this channel can publish right now. `false` means it is switched off server-side \u2014 the channel itself is healthy, but its scheduled posts are being held.\n\nResolved for THIS channel: the `PLATFORM_<NAME>` flag narrowed by any variant flag matching its `accountType`. LinkedIn company pages (`accountType: \"organization\"`) are gated separately from personal profiles, so two LinkedIn channels in the same response can differ here."
          },
          "platformState": {
            "type": "string",
            "enum": [
              "on",
              "connect_off",
              "off"
            ],
            "description": "Current availability of the platform, controlled by the `PLATFORM_<NAME>` environment flag on the server.\n\n- `on` \u2014 fully available.\n- `connect_off` \u2014 new channels cannot be connected, but channels already connected keep publishing normally (used while a platform app review is pending).\n- `off` \u2014 kill switch: the platform is unavailable, and posts targeting it are **held**, not failed. They publish automatically once the platform is switched back on.\n\nResolved for THIS channel: the `PLATFORM_<NAME>` flag narrowed by any variant flag matching its `accountType`. LinkedIn company pages (`accountType: \"organization\"`) are gated separately from personal profiles, so two LinkedIn channels in the same response can differ here."
          },
          "platformMessage": {
            "type": [
              "string",
              "null"
            ],
            "description": "User-facing explanation when the platform is not fully available; `null` otherwise. When a variant rather than the whole platform is what is switched off, this names the variant (e.g. \"LinkedIn Company Pages\")."
          }
        }
      },
      "MediaFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fileName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "width": {
            "type": [
              "integer",
              "null"
            ]
          },
          "height": {
            "type": [
              "integer",
              "null"
            ]
          },
          "duration": {
            "type": [
              "number",
              "null"
            ]
          },
          "originalUrl": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "160x160 square crop (webp). For videos this is generated from an extracted poster frame; null until the derivative job has run."
          },
          "previewUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "400px-wide derivative (webp) for grids. For videos, generated from the poster frame."
          },
          "largeUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "1200px-wide derivative (webp) for lightboxes and large preview panes. For videos, generated from the poster frame. Null on media uploaded before this derivative existed until the backfill runs."
          },
          "altText": {
            "type": "string",
            "nullable": true,
            "description": "Accessibility description sent to Instagram, LinkedIn and Bluesky. Set with PATCH /api/media/{id}."
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "post",
              "media"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly"
            ]
          },
          "dayOfWeek": {
            "type": [
              "integer",
              "null"
            ]
          },
          "dayOfMonth": {
            "type": [
              "integer",
              "null"
            ]
          },
          "timeOfDay": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "channelIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "contentTemplate": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "nextRunAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "requireApproval": {
            "type": "boolean",
            "default": false,
            "description": "Optional. Hold every occurrence this schedule generates for team approval \u2014 each generated post lands with approvalStatus 'pending' and the scheduler skips it until an approver releases it via POST /api/posts/{id}/approve. Default false. Forced to true server-side for roles without post:publish (contributors), regardless of this flag \u2014 on create and on every update, including an update that does not send the field."
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "organizationId": {
            "type": "integer",
            "nullable": true
          },
          "organizationName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the organization it belongs to, when it has one."
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Payload for this notification type."
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NotificationPreferences": {
        "type": "object",
        "description": "Which notifications are delivered and by which route. Email categories are opt-in and default off; in-app categories default on.",
        "properties": {
          "emailOnFailure": {
            "type": "boolean"
          },
          "emailOnTokenExpiry": {
            "type": "boolean"
          },
          "emailOnChannelSlots": {
            "type": "boolean"
          },
          "inAppPublished": {
            "type": "boolean"
          },
          "inAppFailed": {
            "type": "boolean"
          },
          "inAppScheduleReminder": {
            "type": "boolean"
          },
          "inAppTokenExpiry": {
            "type": "boolean"
          },
          "inAppInbox": {
            "type": "boolean"
          },
          "inAppAssignments": {
            "type": "boolean",
            "description": "In-app notification when a teammate assigns you a post or an inbox conversation. Default true."
          },
          "inAppApprovals": {
            "type": "boolean",
            "description": "In-app notification when a post needs your approval, and when one of yours is approved or rejected. Default true."
          },
          "inAppMentions": {
            "type": "boolean",
            "description": "In-app notification when a teammate mentions you in a note. Default true."
          },
          "inAppNotes": {
            "type": "boolean",
            "description": "In-app notification when a teammate leaves a note on a post you wrote or are assigned to. Default true."
          },
          "emailOnApprovalRequest": {
            "type": "boolean",
            "description": "Email as well as an in-app notification when a teammate asks you to review a post. Default false, like every other email category."
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "business"
            ]
          },
          "ownerId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member",
              "approver",
              "contributor",
              "viewer"
            ],
            "description": "The caller's role in this organization. 'member' is legacy; no new code assigns it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "PlatformSpecific": {
        "type": "object",
        "description": "Per-platform options. Keys are platform names. Facebook: { shareToStory, thumbnailUrl }. thumbnailUrl is the cover for a video or Reel; it is applied to the video after it publishes, so it lands a moment after the post, and a cover that cannot be fetched or is rejected leaves the video published with Facebook's own chosen frame rather than failing the post. Instagram: { collaborators, shareToStory, trialReel (post type `reel` only \u2014 ignored on `feed_video`), graduationStrategy ('manual'|'auto' \u2014 any other value is rejected with 400 VALIDATION_ERROR; ignored unless trialReel is true), thumbnailTimestamp (seconds), coverUrl }. collaborators is a comma-separated list of Instagram usernames (no leading @) tagged as co-authors; it applies to post types feed_photo, feed_video, reel and carousel \u2014 on a carousel it is set on the carousel itself rather than on its individual items \u2014 and is ignored on story, which has no co-author concept. thumbnailTimestamp and coverUrl both set the still shown before a video or Reel plays, and both apply to post types feed_video and reel; coverUrl wins when both are sent, because Instagram rejects a request carrying both. TikTok: { privacyLevel ('PUBLIC_TO_EVERYONE'|'MUTUAL_FOLLOW_FRIENDS'|'FOLLOWER_OF_CREATOR'|'SELF_ONLY' \u2014 any other value is rejected with 400 VALIDATION_ERROR; only the levels the connected account's creator info lists are accepted by TikTok), disableDuet, disableStitch, disableComment, isAigc, brandContentToggle, brandOrganicToggle, thumbnailTimestamp }. YouTube: { title, privacyStatus ('public'|'unlisted'|'private' \u2014 any other value is rejected with 400 VALIDATION_ERROR), categoryId, madeForKids, playlistId, thumbnailUrl }. Pinterest: { title, description, link, [channelId]: { boardId } }. GMB: { ctaType ('BOOK'|'ORDER'|'SHOP'|'LEARN_MORE'|'SIGN_UP'|'CALL' \u2014 any other value is rejected with 400 VALIDATION_ERROR), ctaUrl, eventTitle, startDate, startTime, endDate, endTime, couponCode, redeemOnlineUrl, termsConditions }. X: { replySettings ('everyone'|'following'|'verified'|'subscribers'|'mentionedUsers' \u2014 any other value is rejected with 400 VALIDATION_ERROR) }. Threads: { quotePostId, topicTag, locationId }. topicTag is one topic per post, sent without a leading '#'; a value containing a period or an ampersand is rejected with 400 VALIDATION_ERROR. locationId is a numeric place ID from GET /api/channels/{id}/options?q=<place> on a Threads channel (any other value is rejected with 400 VALIDATION_ERROR); location search is available only once the connected Threads account has granted location tagging, and the options endpoint answers { unavailable: true } until then. Both apply to the root post of a thread, never to its replies. Reddit: { [channelId]: { subreddit (required), title, type, url, flairId, thumbnailUrl } }; subreddit falls back to the one stored on the channel, and title falls back to the first line of content truncated to 300 chars. thumbnailUrl is optional on video posts \u2014 when omitted the server falls back to the video's auto-extracted poster frame, and the publish fails only if neither exists. Unlike Pinterest's coverImageUrl there is no attached-image fallback, because a Reddit media post accepts exactly one file. Discord: { [channelId]: { channelId } } \u2014 the outer key is the BulkPublish channel id, the inner channelId is the target Discord text channel. Telegram: no options \u2014 the destination chat is fixed when the channel is connected. Tumblr: { [channelId]: { blogName, title, tags (array of strings, or one comma-separated string; leading '#' and blank entries are dropped), link, sourceUrl } }; blogName defaults to the blog the channel was connected as. Snapchat: { [channelId]: { title (Saved Story title, max 45 chars \u2014 defaults to the caption's first line), locale (Spotlight locale, default 'en_US'), saveToProfile (Spotlight only \u2014 false sends skip_save_to_profile) } }; post types are story (default; caption not sent to Snapchat), saved_story and spotlight (video only, caption becomes the 160-char description); every Snapchat post requires exactly one image or video. Reddit, Discord, Tumblr and Snapchat also accept a flat (non channel-id-keyed) object that applies to every channel of that platform on the post. Use _firstComment (string), at the TOP level of platformSpecific rather than inside a platform key, for an auto-posted reply after publish. Supported on x, instagram, facebook, linkedin, youtube, threads, bluesky, mastodon, reddit and telegram; NOT supported on discord, pinterest, tiktok, gmb or tumblr, where the main post still publishes and the comment is recorded as failed. Snapchat does not support first comments either.",
        "properties": {
          "facebook": {
            "type": "object",
            "properties": {
              "shareToStory": {
                "type": "boolean",
                "description": "Also share to Facebook Story"
              },
              "thumbnailUrl": {
                "type": "string",
                "format": "uri",
                "description": "Cover image for a video or Reel, as a public image URL. Facebook only accepts a cover once the video exists, so it is applied after the video publishes and appears a moment after the post. A cover that cannot be fetched, or that Facebook rejects, leaves the video published with the frame Facebook chose and does not fail the post. Omit to let Facebook choose."
              }
            }
          },
          "x": {
            "type": "object",
            "properties": {
              "replySettings": {
                "type": "string",
                "enum": [
                  "everyone",
                  "following",
                  "verified",
                  "subscribers",
                  "mentionedUsers"
                ],
                "description": "Who can reply to this tweet"
              }
            }
          },
          "tiktok": {
            "type": "object",
            "properties": {
              "privacyLevel": {
                "type": "string",
                "enum": [
                  "PUBLIC_TO_EVERYONE",
                  "MUTUAL_FOLLOW_FRIENDS",
                  "FOLLOWER_OF_CREATOR",
                  "SELF_ONLY"
                ]
              },
              "disableDuet": {
                "type": "boolean"
              },
              "disableStitch": {
                "type": "boolean"
              },
              "disableComment": {
                "type": "boolean"
              },
              "isAigc": {
                "type": "boolean",
                "description": "AI-generated content disclosure"
              },
              "brandContentToggle": {
                "type": "boolean",
                "description": "Paid partnership"
              },
              "brandOrganicToggle": {
                "type": "boolean",
                "description": "Brand promotional content"
              },
              "thumbnailTimestamp": {
                "type": "number",
                "description": "Thumbnail timestamp in seconds"
              }
            }
          },
          "youtube": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "privacyStatus": {
                "type": "string",
                "enum": [
                  "public",
                  "unlisted",
                  "private"
                ]
              },
              "categoryId": {
                "type": "string"
              },
              "madeForKids": {
                "type": "boolean"
              },
              "playlistId": {
                "type": "string"
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "URL of custom thumbnail image"
              }
            }
          },
          "pinterest": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "Destination URL"
              },
              "dominantColor": {
                "type": "string",
                "description": "Hex color e.g. #FF5733"
              },
              "coverImageUrl": {
                "type": "string",
                "description": "Cover image URL for video pins. Optional \u2014 when omitted, an image attached alongside the video is used, otherwise the auto-extracted poster frame of the video. Publishing fails only if none of the three is available."
              }
            }
          },
          "gmb": {
            "type": "object",
            "properties": {
              "ctaType": {
                "type": "string",
                "enum": [
                  "LEARN_MORE",
                  "BOOK",
                  "ORDER",
                  "SHOP",
                  "SIGN_UP",
                  "CALL"
                ]
              },
              "ctaUrl": {
                "type": "string"
              },
              "eventTitle": {
                "type": "string"
              },
              "startDate": {
                "type": "string",
                "description": "YYYY-MM-DD"
              },
              "startTime": {
                "type": "string",
                "description": "HH:MM"
              },
              "endDate": {
                "type": "string"
              },
              "endTime": {
                "type": "string"
              },
              "couponCode": {
                "type": "string"
              },
              "redeemOnlineUrl": {
                "type": "string"
              },
              "termsConditions": {
                "type": "string"
              }
            }
          },
          "instagram": {
            "type": "object",
            "properties": {
              "collaborators": {
                "type": "string",
                "description": "Comma-separated Instagram usernames without @, tagged as co-authors. Applies to post types `feed_photo`, `feed_video`, `reel` and `carousel` \u2014 on a carousel the co-authors are set on the carousel itself, not on its individual items. Ignored on `story`, which has no co-author concept."
              },
              "shareToStory": {
                "type": "boolean",
                "description": "Also share to Instagram Story"
              },
              "trialReel": {
                "type": "boolean",
                "description": "Publish as a trial reel \u2014 shown to non-followers first. Applies ONLY when the post type is `reel`: a `feed_video` posts as an ordinary reel and this field is ignored, even though both post types use the same underlying reel container. Default false."
              },
              "graduationStrategy": {
                "type": "string",
                "enum": [
                  "manual",
                  "auto"
                ],
                "description": "How a trial reel becomes a normal one: `manual` (you release it yourself) or `auto` (released for you if it performs well). Any other value is rejected with 400 VALIDATION_ERROR. Ignored unless `trialReel` is true. Default `manual`."
              },
              "thumbnailTimestamp": {
                "type": "number",
                "description": "Cover frame for a video or Reel, in seconds from the start. Applies to post types feed_video and reel. Ignored when coverUrl is also set."
              },
              "coverUrl": {
                "type": "string",
                "format": "uri",
                "description": "Cover image for a video or Reel, as a public image URL. Takes precedence over thumbnailTimestamp: Instagram accepts one or the other and rejects a request carrying both, so when both are sent only this one is forwarded."
              }
            }
          },
          "threads": {
            "type": "object",
            "properties": {
              "quotePostId": {
                "type": "string",
                "description": "Threads post ID to quote"
              }
            }
          },
          "reddit": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Reddit channel on the post. The fields below are those of the inner object.",
            "properties": {
              "subreddit": {
                "type": "string",
                "description": "Required. Target subreddit. Accepts 'webdev', 'r/webdev' or '/r/webdev' \u2014 normalized to a bare lowercase name. Falls back to the subreddit stored on the channel."
              },
              "title": {
                "type": "string",
                "description": "Post title. Defaults to the first line of content, truncated to 300 characters."
              },
              "type": {
                "type": "string",
                "description": "Set to 'link' to force a link submission. The submission kind is otherwise resolved from the attached media: image file -> image, video file -> video, url set -> link, else self."
              },
              "url": {
                "type": "string",
                "description": "Destination URL for a link post. Supplying it implies type 'link'."
              },
              "flairId": {
                "type": "string",
                "description": "Link-flair id. List a subreddit's flairs via GET /api/channels/{id}/options."
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "Poster image URL for video posts. Optional \u2014 when omitted the server falls back to the video's auto-extracted poster frame, and publishing fails only when neither is available. Unlike Pinterest's coverImageUrl there is no attached-image fallback: a Reddit media post accepts exactly one file, so a video post cannot also carry a cover image."
              }
            }
          },
          "discord": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Discord channel on the post. The fields below are those of the inner object.",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "Required. The target Discord text channel id (a snowflake) within the connected server. Note this is a Discord channel id, not the BulkPublish channel id used as the outer key. List postable channels via GET /api/channels/{id}/options."
              }
            }
          },
          "telegram": {
            "type": "object",
            "description": "Telegram accepts no platform-specific options \u2014 the destination chat is fixed when the channel is connected. Content is sent as plain text (no parse mode). Text longer than the 1024-character caption limit is posted as a second message alongside captionless media.",
            "properties": {}
          },
          "tumblr": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Tumblr channel on the post. The fields below are those of the inner object.",
            "properties": {
              "blogName": {
                "type": "string",
                "description": "Which blog to publish to. Defaults to the blog the channel was connected as (the account's primary blog). List the account's blogs via GET /api/channels/{id}/options."
              },
              "title": {
                "type": "string",
                "description": "Rendered as a heading block above the post body."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tumblr tags, without the leading '#'."
              },
              "link": {
                "type": "string",
                "description": "Appended to the post as a link block."
              },
              "sourceUrl": {
                "type": "string",
                "description": "Attribution URL stored as the post's source."
              }
            }
          },
          "snapchat": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Snapchat channel on the post. Post types: story (default), saved_story, spotlight. Every Snapchat post requires exactly one image or video; spotlight is video-only (6\u201360s). The caption is used only for Spotlight (160-char description) and as the Saved Story title fallback \u2014 plain stories carry no text.",
            "properties": {
              "title": {
                "type": "string",
                "maxLength": 45,
                "description": "Saved Story title (max 45 chars). Defaults to the first line of the caption, truncated."
              },
              "locale": {
                "type": "string",
                "description": "Spotlight locale, e.g. 'en_US'. Defaults to 'en_US' when omitted."
              },
              "saveToProfile": {
                "type": "boolean",
                "description": "Spotlight only. Default true; false sends skip_save_to_profile to Snap."
              }
            }
          }
        }
      },
      "PlatformAvailability": {
        "type": "object",
        "description": "Availability of one social platform. Disabled platforms are always included in responses with `enabled: false` \u2014 never omitted \u2014 so clients can tell \"switched off right now\" apart from \"not supported\".",
        "properties": {
          "platform": {
            "type": "string",
            "enum": [
              "facebook",
              "instagram",
              "x",
              "tiktok",
              "youtube",
              "threads",
              "bluesky",
              "pinterest",
              "gmb",
              "linkedin",
              "mastodon",
              "reddit",
              "discord",
              "telegram",
              "tumblr",
              "snapchat"
            ]
          },
          "displayName": {
            "type": "string",
            "example": "LinkedIn"
          },
          "color": {
            "type": [
              "string",
              "null"
            ],
            "description": "Brand colour hex, for UI rendering.",
            "example": "#0A66C2"
          },
          "enabled": {
            "type": "boolean",
            "description": "Convenience flag; equivalent to `state == \"on\"`."
          },
          "state": {
            "type": "string",
            "enum": [
              "on",
              "connect_off",
              "off"
            ],
            "description": "Current availability of the platform, controlled by the `PLATFORM_<NAME>` environment flag on the server.\n\n- `on` \u2014 fully available.\n- `connect_off` \u2014 new channels cannot be connected, but channels already connected keep publishing normally (used while a platform app review is pending).\n- `off` \u2014 kill switch: the platform is unavailable, and posts targeting it are **held**, not failed. They publish automatically once the platform is switched back on."
          },
          "reason": {
            "type": "string",
            "enum": [
              "enabled",
              "flag_connect_off",
              "flag_off",
              "unconfigured"
            ],
            "description": "Why the platform is in this state. `unconfigured` means the server has no OAuth app credentials for it yet."
          },
          "canConnect": {
            "type": "boolean",
            "description": "Whether a NEW channel can be connected right now."
          },
          "canPublish": {
            "type": "boolean",
            "description": "Whether already-connected channels can publish right now."
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "User-facing explanation. `null` when the platform is fully enabled."
          },
          "envVar": {
            "type": "string",
            "description": "The server env var controlling this platform. Only returned to organization owners and admins.",
            "example": "PLATFORM_LINKEDIN"
          },
          "variants": {
            "type": "object",
            "description": "Sub-platforms gated independently of their parent, keyed by the channel `accountType` they cover. Present only for platforms that have one. Today: `linkedin.organization` \u2014 LinkedIn company pages, which run on a separate LinkedIn app (Community Management API) reviewed separately from personal profiles, so pages can be paused while personal-profile posting stays fully live. A variant is never more permissive than its parent: `state: \"off\"` on the platform means every variant is off too.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "LinkedIn Company Pages"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Convenience flag; equivalent to `state == \"on\"`."
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "on",
                    "connect_off",
                    "off"
                  ],
                  "description": "Same semantics as the platform-level `state`, resolved for this variant."
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "enabled",
                    "flag_connect_off",
                    "flag_off",
                    "unconfigured"
                  ]
                },
                "canConnect": {
                  "type": "boolean",
                  "description": "Whether a NEW channel of this account type can be connected right now."
                },
                "canPublish": {
                  "type": "boolean",
                  "description": "Whether already-connected channels of this account type can publish right now."
                },
                "message": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "User-facing explanation. `null` when the variant is fully enabled."
                },
                "envVar": {
                  "type": "string",
                  "description": "The server env var controlling this variant. Only returned to organization owners and admins.",
                  "example": "PLATFORM_LINKEDIN_PAGES"
                }
              }
            }
          }
        }
      },
      "HashtagGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "hashtags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Stored normalised: leading '#', no spaces, deduplicated case-insensitively, in the order given."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "caption",
              "first_comment"
            ],
            "description": "What the saved text is for: a post caption, or a first-comment reply."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReviewLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "shareToken": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "postCount": {
            "type": "integer",
            "description": "Only present when listing (GET /api/review-links)."
          },
          "url": {
            "type": "string",
            "description": "The public review URL: https://app.bulkpublish.com/p/schedule/<shareToken>."
          }
        }
      },
      "ClientConnectLink": {
        "type": "object",
        "description": "The raw token is shown once, in the `url` alongside this object on creation (POST /api/client-connect-links), and never again — the stored token_hash cannot be reversed back into a URL, so GET /api/client-connect-links lists status only, with no url or token field.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Your own label for the client. Never shown to the client themselves."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "used",
              "revoked",
              "expired"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "usedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "connectedChannelId": {
            "type": "integer",
            "nullable": true
          },
          "connectedPlatform": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CalendarNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "body": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Posts",
      "description": "Create, schedule, publish, and manage posts across platforms"
    },
    {
      "name": "Channels",
      "description": "Connect and manage social media accounts"
    },
    {
      "name": "Channel Sets",
      "description": "Saved channel groups for one-click targeting"
    },
    {
      "name": "RSS Autopost",
      "description": "Turn RSS/Atom feed items into posts automatically"
    },
    {
      "name": "Media",
      "description": "Upload and manage images and videos"
    },
    {
      "name": "Analytics",
      "description": "View engagement metrics and performance data"
    },
    {
      "name": "Labels",
      "description": "Organize posts and media with labels"
    },
    {
      "name": "Hashtag Groups",
      "description": "Saved sets of hashtags to drop into a post"
    },
    {
      "name": "Templates",
      "description": "Saved post text to start a new post from"
    },
    {
      "name": "Review Links",
      "description": "Client review links covering a batch of posts at once"
    },
    {
      "name": "Client Connect Links",
      "description": "One-time links for a client to connect their own platform account, with no BulkPublish account of their own"
    },
    {
      "name": "Calendar Notes",
      "description": "Free-text notes pinned to calendar days"
    },
    {
      "name": "Schedules",
      "description": "Set up recurring post schedules"
    },
    {
      "name": "Organizations",
      "description": "Manage workspaces and teams"
    },
    {
      "name": "Notifications",
      "description": "View and manage in-app notifications"
    },
    {
      "name": "API Keys",
      "description": "Manage API authentication keys. Available on all plans (Free: 1 key, Pro: 5, Business: 10)."
    },
    {
      "name": "OAuth",
      "description": "Beta: let your users connect their own BulkPublish account instead of pasting an API key. Register an app under Settings > API to get a client ID."
    },
    {
      "name": "Utilities",
      "description": "Link previews, quotas, activity log"
    }
  ],
  "paths": {
    "/api/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "description": "Retrieve posts with pagination, filtering, and search. Results are ordered newest-first by the timestamp that applies to each post \u2014 publishedAt if it is live, else scheduledAt if it is due, else createdAt \u2014 with id descending as a tiebreaker. A post written weeks before it publishes therefore sorts by when it went live, not when it was drafted.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Items per page, max 500 (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 500
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by post status. A value outside this list answers 400; it is not a post status that happens to match nothing. Note that `published` also covers `partial` (the post went live, just not on every channel), and that team approval is a separate axis \u2014 use `approvalStatus`, not a status value, to find posts awaiting review.",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "publishing",
                "published",
                "processing",
                "failed",
                "partial"
              ]
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by channel ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Comma-separated label IDs to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelId",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by single label ID (legacy, prefer labelIds)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "labelMode",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 How to combine label filters (default: or)",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ],
              "default": "or"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Search in post content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts created on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts created on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduledFrom",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts scheduled on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduledTo",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts scheduled on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "recurring",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Set to \"true\" to filter recurring posts only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "pending",
                "approved",
                "rejected"
              ]
            },
            "description": "Filter by team approval state (e.g. 'pending' for the approval queue). Orthogonal to `status`: a post can be `scheduled` and `pending` at once. A value outside this list answers 400."
          },
          {
            "name": "assignedTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by who the post is assigned to: a user id, `me` for the caller, or `unassigned` for posts nobody has taken. Assignment is orthogonal to status \u2014 a post can be scheduled AND assigned."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" },
            "description": "Direction of the timeline sort. Posts are ordered by the timestamp that matters for each one \u2014 when it published, else when it is due, else when it was created. `desc` (the default) returns the most recent first. `asc` returns the earliest first, which is what you want when reading the next few scheduled posts rather than the furthest-out ones. Any other value answers 400 rather than quietly falling back to `desc`."
          }
        ],
        "responses": {
          "200": {
            "description": "Posts list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "listPosts",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "posts:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create post",
        "description": "Create a new post as draft or scheduled. Validates character limits per platform, media ownership, channel ownership, and plan quotas.\n\n**Character limits:** X: 280, Bluesky: 300, Threads: 500, Mastodon: 500, Pinterest: 500, GMB: 1500, Instagram: 2200, TikTok: 2200, LinkedIn: 3000, YouTube: 5000, Facebook: 63206. On X and Mastodon every URL counts as a flat 23 characters (t.co wrapping / Mastodon link counting), regardless of its real length.\n\n**Link cards:** for a text-only post (no media) containing a URL, the first URL is unfurled at publish time. Facebook receives it as the `link` param, Bluesky as an external embed (with thumbnail), and LinkedIn as a `content.article` card (LinkedIn's API never scrapes URLs itself; if the page yields no title, the post publishes as plain text without a card). Other platforms unfurl the URL themselves or render it as plain text (links in Instagram/TikTok captions are not clickable).\n\nReturns **403** with `code: \"PLATFORM_DISABLED\"` when a target channel's platform has been switched off server-side (`PLATFORM_<NAME>=off`). This is distinct from `FEATURE_DISABLED`, which means the platform is not on the organization's plan. Check `GET /api/platforms` for current availability. A channel's *variant* can be off on its own \u2014 LinkedIn company pages are gated separately from personal profiles \u2014 in which case the error also carries `accountType` (e.g. `\"organization\"`) naming the variant that is unavailable. Requires a role that can edit posts (owner, admin, approver, contributor); viewers get 403 FORBIDDEN.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channels"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Post text content (optional if media attached). LinkedIn mentions: write @[Display Name](urn:li:organization:ID) to mention a Page or @[Display Name](urn:li:person:ID) to mention a person; the token publishes as a real mention on LinkedIn and as plain @Display Name on every other channel of the same post, and counts as @Display Name toward every character limit. GET /api/channels/{id}/mentions?q=<vanity-name> on a LinkedIn channel returns ready-made tokens for Pages (exact match on the Page's URL slug; a personal channel borrows a connected Page's access for the lookup). Reserved LinkedIn formatting characters in the rest of the text are escaped for you at publish time, so send plain text and never pre-escape it yourself."
                  },
                  "channels": {
                    "type": "array",
                    "description": "Required. Target channels to publish to",
                    "items": {
                      "type": "object",
                      "properties": {
                        "channelId": {
                          "type": "integer",
                          "description": "Channel ID from GET /api/channels"
                        },
                        "platform": {
                          "type": "string",
                          "description": "Platform name. Optional \u2014 the server always resolves the platform from the channel record; a supplied value is ignored."
                        }
                      },
                      "required": [
                        "channelId"
                      ]
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled"
                    ],
                    "default": "draft",
                    "description": "Optional. Default: draft"
                  },
                  "mediaFiles": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Optional. Media file IDs from POST /api/media"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional. Required when status is 'scheduled'"
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC",
                    "description": "Optional. IANA timezone (default: UTC)"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Optional. Label IDs to attach"
                  },
                  "postFormat": {
                    "type": "string",
                    "enum": [
                      "post",
                      "video",
                      "reel",
                      "story",
                      "carousel",
                      "thread"
                    ],
                    "default": "post",
                    "description": "Optional. Default: post"
                  },
                  "postTypeOverrides": {
                    "type": "object",
                    "description": "Optional. Per-platform post type override. E.g. { \"instagram\": \"reel\", \"facebook\": \"story\" }. A type the platform does not offer is rejected with 400 VALIDATION_ERROR (previously it silently fell back to the platform default). Instagram: feed_photo, feed_video, reel, story, carousel. Facebook: post, reel, story. TikTok: video, photo_slideshow. YouTube: video, short. LinkedIn: post, multi_image. Pinterest: pin, video_pin, carousel. GMB: standard, event, offer. Snapchat: story, saved_story, spotlight. `repost` (X, Threads, Bluesky, Mastodon) reposts an existing post at the scheduled time: the post's own text and media are ignored and `platformSpecific.<platform>.repostId` must hold the target (X: status URL or ID; Mastodon: status URL or ID; Bluesky: bsky.app post URL or at:// URI; Threads: the numeric post ID; Threads links cannot be used, and for posts published through BulkPublish the ID is in the post details). A missing or unparsable target is rejected with 400 VALIDATION_ERROR. Rolling out: until it is switched on for your account the composer does not offer it."
                  },
                  "platformSpecific": {
                    "$ref": "#/components/schemas/PlatformSpecific",
                    "description": "Optional. Platform-specific options"
                  },
                  "platformContent": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Optional. Per-platform content overrides mapping platform name to a plain string, e.g. { \"x\": \"Short version\" }. Values must be strings \u2014 nested objects are rejected with 400 VALIDATION_ERROR."
                  },
                  "deleteMediaAfterPublish": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Delete uploaded media right after publishing (default: false \u2014 media is kept and reclaimed by the 3-month retention sweep). When true, the original is removed once every channel has published and stops counting toward your media storage limit. Forced to false when the post has a repeatSchedule."
                  },
                  "threadParts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "mediaFileIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "description": "Optional. Required when postFormat is 'thread' (min 2 parts)"
                  },
                  "platformThreadParts": {
                    "description": "Per-platform thread segments, keyed by platform name. A platform's own list replaces `threadParts` for that platform when it has entries, so its parts are the ones measured against that platform's limit; a platform with no entries here uses `threadParts`. Same 400 VALIDATION_ERROR on an over-long part as `threadParts`.",
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "mediaFileIds": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "description": "Optional. Per-platform thread overrides, e.g. { \"x\": [{ \"content\": \"Part 1\" }] }. Part content must be a plain string \u2014 non-string shapes are rejected with 400 VALIDATION_ERROR."
                  },
                  "repeatSchedule": {
                    "type": "object",
                    "description": "Optional. Recurring schedule config",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "weekly",
                          "biweekly",
                          "monthly"
                        ]
                      },
                      "daysOfWeek": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "0=Sun, 6=Sat"
                      },
                      "dayOfMonth": {
                        "type": "integer"
                      },
                      "timeOfDay": {
                        "type": "string",
                        "description": "HH:MM format"
                      },
                      "timezone": {
                        "type": "string"
                      }
                    }
                  },
                  "autoPlugEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Auto-post a comment when the post reaches a like threshold"
                  },
                  "autoPlugText": {
                    "type": "string",
                    "description": "Optional. The promotional comment text for auto-plug"
                  },
                  "autoPlugThreshold": {
                    "type": "integer",
                    "default": 50,
                    "description": "Optional. Number of likes to trigger auto-plug (default: 50). Whole number from 0 to 2147483647; outside that range the request is rejected.",
                    "minimum": 0,
                    "maximum": 2147483647
                  },
                  "autoRepostEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Auto-repost/reshare when the post reaches a like threshold"
                  },
                  "autoRepostThreshold": {
                    "type": "integer",
                    "default": 100,
                    "description": "Optional. Number of likes to trigger auto-repost (default: 100). Whole number from 0 to 2147483647; outside that range the request is rejected.",
                    "minimum": 0,
                    "maximum": 2147483647
                  },
                  "requestApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Set true to hold a scheduled post for team approval (approvalStatus becomes 'pending'). Forced on server-side for roles without post:publish (contributors), regardless of this flag."
                  },
                  "linkTrackingOverride": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "default": null,
                    "description": "Per-post override for link tracking (bulkpubli.sh). `true` forces links in this post to be shortened and their clicks counted, `false` forces them to publish as written, and `null` (the default) inherits the organization's Link Tracking setting. Shortening happens at publish time, per channel, so two accounts on the same platform get distinct codes; it is skipped for a channel when the rewrite would push the post past that platform's character limit."
                  }
                }
              },
              "examples": {
                "simple": {
                  "summary": "Simple text post to X",
                  "value": {
                    "content": "Hello world!",
                    "channels": [
                      {
                        "channelId": 1,
                        "platform": "x"
                      }
                    ],
                    "status": "draft"
                  }
                },
                "scheduled-multi": {
                  "summary": "Scheduled post to multiple platforms",
                  "value": {
                    "content": "Check out our new feature!",
                    "mediaFiles": [
                      1,
                      2
                    ],
                    "status": "scheduled",
                    "scheduledAt": "2026-03-27T14:00:00Z",
                    "timezone": "America/New_York",
                    "channels": [
                      {
                        "channelId": 1,
                        "platform": "x"
                      },
                      {
                        "channelId": 3,
                        "platform": "linkedin"
                      }
                    ]
                  }
                },
                "linkedin-carousel": {
                  "summary": "LinkedIn PDF carousel",
                  "value": {
                    "content": "10 tips for social media growth",
                    "mediaFiles": [
                      10,
                      11,
                      12,
                      13,
                      14
                    ],
                    "channels": [
                      {
                        "channelId": 3,
                        "platform": "linkedin"
                      }
                    ],
                    "postTypeOverrides": {
                      "linkedin": "pdf_carousel"
                    },
                    "platformSpecific": {
                      "linkedin": {
                        "carouselTitle": "10 Tips"
                      }
                    },
                    "status": "draft"
                  }
                },
                "tiktok-with-controls": {
                  "summary": "TikTok video with content controls",
                  "value": {
                    "content": "Tutorial video",
                    "mediaFiles": [
                      20
                    ],
                    "channels": [
                      {
                        "channelId": 5,
                        "platform": "tiktok"
                      }
                    ],
                    "platformSpecific": {
                      "tiktok": {
                        "privacyLevel": "PUBLIC_TO_EVERYONE",
                        "disableComment": false,
                        "disableDuet": true,
                        "disableStitch": true,
                        "isAigc": false,
                        "brandContentToggle": false,
                        "brandOrganicToggle": false
                      }
                    },
                    "status": "scheduled",
                    "scheduledAt": "2026-03-28T18:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created"
          },
          "400": {
            "description": "Validation error (character limit, missing fields)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Platform not on the plan (`FEATURE_DISABLED`) or switched off server-side (`PLATFORM_DISABLED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Quota exceeded"
          }
        },
        "operationId": "createPost",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "posts:write"
            ]
          }
        ]
      }
    },
    "/api/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post",
        "description": "Returns full post details including recurringScheduleId and recurringSchedule when the post is linked to a recurring schedule.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getPost",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "posts:read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post",
        "description": "Update a draft, scheduled, failed, or partial post. Note: the per-platform object fields (platformSpecific, platformContent, postTypeOverrides, platformThreadParts) are replaced wholesale, not merged \u2014 send the complete object including keys for every platform you want to keep. Sending a partial object (e.g. only one platform's content) removes the stored values for all other platforms. Editing a FAILED post silently resets its status to draft and clears its failed platform results (they revert to pending). Editing a PARTIAL post keeps it partial and leaves every platform row untouched \u2014 it is live on some channels; re-send the failed ones with POST /api/posts/{id}/retry, or send status 'scheduled' with a scheduledAt, which re-queues exactly the failed channels for that time. Platforms in 'published', 'processing', or 'unconfirmed' are never reset by an edit. When `channels` is sent, rows for channels that remain keep their state (a published channel is NOT re-published on the next publish); removed channels are dropped and new ones added as pending. Send the optional status field ('draft' or 'scheduled') to move a post between draft and scheduled; other status values are rejected. To publish immediately, use POST /api/posts/{id}/publish instead. Requires a role that can edit posts (owner, admin, approver, contributor); viewers get 403 FORBIDDEN.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "mediaFiles": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled"
                    ],
                    "description": "Move the post between draft and scheduled. Setting 'scheduled' requires a future scheduledAt (in this body or already stored) and at least one channel; setting 'draft' unschedules it. Any other value is rejected. Omit to leave the status unchanged (a failed post still auto-resets to draft on edit; a partial post stays partial). Setting 'scheduled' on a partial post re-queues its failed channels only; published channels are not re-sent. To publish immediately, use POST /api/posts/{id}/publish instead."
                  },
                  "channels": {
                    "type": "array",
                    "description": "Full target channel list ({ channelId, platform } items). Rows for channels already on the post are kept with their current publish state; removed channels are deleted; new channels are added as pending."
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "platformSpecific": {
                    "type": "object",
                    "description": "Per-platform options, keyed by platform. Replaced wholesale on update (not merged)."
                  },
                  "platformContent": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Per-platform content overrides, keyed by platform; values must be plain strings (nested objects are rejected with 400 VALIDATION_ERROR). Replaced wholesale on update."
                  },
                  "postTypeOverrides": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Per-platform post type overrides, keyed by platform. Replaced wholesale on update. `repost` (X, Threads, Bluesky, Mastodon) reposts an existing post at the scheduled time: the post's own text and media are ignored and `platformSpecific.<platform>.repostId` must hold the target (X: status URL or ID; Mastodon: status URL or ID; Bluesky: bsky.app post URL or at:// URI; Threads: the numeric post ID; Threads links cannot be used, and for posts published through BulkPublish the ID is in the post details). A missing or unparsable target is rejected with 400 VALIDATION_ERROR. Rolling out: until it is switched on for your account the composer does not offer it."
                  },
                  "postFormat": {
                    "type": "string",
                    "enum": [
                      "post",
                      "thread"
                    ],
                    "description": "Post format. Defaults to 'post'."
                  },
                  "threadParts": {
                    "type": "array",
                    "description": "Thread segments (required when postFormat is 'thread'; at least 2). Each part: { content, mediaFileIds }. EVERY part is measured against the character limit of every platform the post targets, not just the first one \u2014 a part over the limit is rejected with 400 VALIDATION_ERROR naming the part number, the platform and its limit. URLs count the way the platform counts them (23 characters on X and Mastodon).",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "mediaFileIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "requestApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Set true to hold a scheduled post for team approval (approvalStatus becomes 'pending'). Forced on server-side for roles without post:publish (contributors), regardless of this flag."
                  },
                  "linkTrackingOverride": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "default": null,
                    "description": "Per-post override for link tracking (bulkpubli.sh). `true` forces links in this post to be shortened and their clicks counted, `false` forces them to publish as written, and `null` (the default) inherits the organization's Link Tracking setting. Shortening happens at publish time, per channel, so two accounts on the same platform get distinct codes; it is skipped for a channel when the rewrite would push the post past that platform's character limit."
                  },
                  "ifUnmodifiedSince": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional precondition: the post's `updatedAt` as you last read it, ISO 8601 with milliseconds. The edit is refused with 409 CONFLICT if somebody else has changed the post since then, instead of overwriting their version. Omit it for the previous behaviour, last write wins. Milliseconds matter \u2014 two edits in the same second are distinct, which is why this is a body field and not the If-Unmodified-Since header."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post"
          },
          "400": {
            "description": "Validation error"
          },
          "409": {
            "description": "Somebody else changed the post after the ifUnmodifiedSince you sent. The error body carries the post's current updatedAt."
          }
        },
        "operationId": "updatePost",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "posts:write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Posts"
        ],
        "summary": "Attach or detach a post's recurring schedule",
        "description": "Narrow companion to PUT. This endpoint ONLY accepts `recurringScheduleId` \u2014 passing `null` detaches the post from its repeat schedule (and deactivates that schedule if it is left orphaned).\n\nAny other field (including `status` and `scheduledAt`) is rejected with **400** and `unsupportedFields` listing what was sent. **To edit a post \u2014 including moving a draft to `scheduled` \u2014 use `PUT /api/posts/{id}` with `{ \"status\": \"scheduled\", \"scheduledAt\": \"<future ISO 8601>\" }`.** Requires a role that can edit posts (owner, admin, approver, contributor); viewers get 403 FORBIDDEN.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recurringScheduleId": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Repeat-schedule id to attach, or null to detach."
                  },
                  "ifUnmodifiedSince": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional precondition: the post's `updatedAt` as you last read it, ISO 8601 with milliseconds. The edit is refused with 409 CONFLICT if somebody else has changed the post since then, instead of overwriting their version. Omit it for the previous behaviour, last write wins. Milliseconds matter \u2014 two edits in the same second are distinct, which is why this is a body field and not the If-Unmodified-Since header."
                  },
                  "assignedUserId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The member expected to act on this post next, or null to unassign. Must be a member of the organization (422 otherwise). Deliberately not on PUT: that is the full-document save, and it would clear an assignment a teammate made while the post was open in an editor."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "A field other than recurringScheduleId or ifUnmodifiedSince was sent; use PUT instead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Somebody else changed the post after the ifUnmodifiedSince you sent. The error body carries the post's current updatedAt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "assignedUserId is not a member of this organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found"
          }
        },
        "operationId": "patchPost",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "posts:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete post",
[...]
