{
  "openapi": "3.1.0",
  "info": {
    "title": "BulkPublish API",
    "version": "1.0.0",
    "description": "Publish to 14 social media platforms from a single API.\n\n## Using this API from an AI agent\n\nEverything below is also available as an [MCP](https://modelcontextprotocol.io) server, so Claude, ChatGPT, Cursor and other agents can drive BulkPublish directly.\n\n**Hosted (web-based hosts):** add `https://mcp.bulkpublish.com/mcp` as a custom connector. It supports OAuth 2.1 — you paste your API key once on the consent screen — or a key in the URL (`?key=bp_...`) for hosts without OAuth.\n\n**Local (Claude Code, Cursor, Codex, Windsurf):** `npx -y @bulkpublish/mcp-server`, with `BULKPUBLISH_API_KEY` in the environment.\n\nPer-client config and the full tool list: [BulkPublish AI Toolkit](https://github.com/azeemkafridi/bulkpublish-ai-toolkit). Get an API key at [/developer](https://app.bulkpublish.com/developer)."
  },
  "servers": [
    {
      "url": "https://app.bulkpublish.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key from Settings > API Keys. Pass as `Bearer bp_your_key_here`"
      }
    },
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "publishing",
              "published",
              "processing",
              "failed",
              "partial"
            ]
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "timezone": {
            "type": "string"
          },
          "postFormat": {
            "type": "string",
            "enum": [
              "post",
              "video",
              "reel",
              "story",
              "carousel",
              "thread"
            ]
          },
          "postTypeOverrides": {
            "type": "object",
            "description": "Per-platform post type override. E.g. { \"instagram\": \"reel\", \"facebook\": \"story\" }. A type the platform does not offer is rejected with 400 VALIDATION_ERROR (previously it silently fell back to the platform default). Instagram: feed_photo, feed_video, reel, story, carousel. Facebook: post, reel, story. TikTok: video, photo_slideshow. YouTube: video, short. LinkedIn: post, multi_image. Pinterest: pin, video_pin, carousel. GMB: standard, event, offer. Snapchat: story, saved_story, spotlight."
          },
          "platformSpecific": {
            "type": "object",
            "description": "Per-platform options. Keys are platform names. Facebook: { shareToStory }. Instagram: { collaborators, shareToStory, trialReel, graduationStrategy ('manual'|'auto' — any other value is rejected with 400 VALIDATION_ERROR), thumbnailTimestamp (seconds) }. TikTok: { privacyLevel ('PUBLIC_TO_EVERYONE'|'MUTUAL_FOLLOW_FRIENDS'|'FOLLOWER_OF_CREATOR'|'SELF_ONLY'|'SEND_TO_USER_INBOX' — any other value is rejected with 400 VALIDATION_ERROR), disableDuet, disableStitch, disableComment, isAigc, brandContentToggle, brandOrganicToggle, thumbnailTimestamp }. YouTube: { title, privacyStatus ('public'|'unlisted'|'private' — any other value is rejected with 400 VALIDATION_ERROR), categoryId, madeForKids, playlistId, thumbnailUrl }. Pinterest: { title, description, link, [channelId]: { boardId } }. GMB: { ctaType ('BOOK'|'ORDER'|'SHOP'|'LEARN_MORE'|'SIGN_UP'|'CALL' — any other value is rejected with 400 VALIDATION_ERROR), ctaUrl, eventTitle, startDate, startTime, endDate, endTime, couponCode, redeemOnlineUrl, termsConditions }. X: { replySettings ('everyone'|'following'|'verified'|'subscribers'|'mentionedUsers' — any other value is rejected with 400 VALIDATION_ERROR) }. Threads: { quotePostId }. Snapchat: { [channelId]: { title (Saved Story title, max 45 chars — defaults to the caption's first line), locale (Spotlight locale, default 'en_US'), saveToProfile (Spotlight only, default true) } }. Use _firstComment (string) for auto-posted reply after publish."
          },
          "platformContent": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Per-platform content overrides mapping platform name to a plain string, e.g. { \"x\": \"Short version\" }. Values must be strings — nested objects are rejected with 400 VALIDATION_ERROR."
          },
          "deleteMediaAfterPublish": {
            "type": "boolean",
            "default": false,
            "description": "Whether uploaded media is deleted right after publishing. Defaults to false — media is kept and reclaimed by the 3-month retention sweep. Always false for recurring-schedule posts and bulk-created posts."
          },
          "autoPlugEnabled": {
            "type": "boolean"
          },
          "autoPlugText": {
            "type": "string",
            "nullable": true
          },
          "autoPlugThreshold": {
            "type": "integer"
          },
          "autoPlugFired": {
            "type": "boolean"
          },
          "autoRepostEnabled": {
            "type": "boolean"
          },
          "autoRepostThreshold": {
            "type": "integer"
          },
          "autoRepostFired": {
            "type": "boolean"
          },
          "recurringScheduleId": {
            "type": "integer",
            "nullable": true
          },
          "recurringSchedule": {
            "type": "object",
            "nullable": true,
            "description": "Full recurring schedule details when linked"
          },
          "mediaFiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaFile"
            }
          },
          "postPlatforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostPlatform"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Label"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "approvalStatus": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "approved",
              "rejected"
            ],
            "default": "none",
            "description": "Team approval state, orthogonal to status. 'pending' and 'rejected' posts are skipped by the scheduler even when scheduled and overdue; approving via POST /api/posts/{id}/approve releases them (an overdue post publishes immediately on approval). Members whose role lacks post:publish (contributors) always get 'pending' when scheduling; others can opt in with requestApproval."
          },
          "approvedBy": {
            "type": "string",
            "nullable": true,
            "description": "User ID of the approver (set when approvalStatus is 'approved')."
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true,
            "description": "Reviewer's reason when approvalStatus is 'rejected'."
          }
        }
      },
      "PostPlatform": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "channelId": {
            "type": "integer"
          },
          "platform": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "publishing",
              "published",
              "failed",
              "processing",
              "unconfirmed"
            ],
            "description": "Per-platform publish state. 'unconfirmed' is terminal: the publish request may have reached the platform but its response was lost — check the account, then retry with republish: true if the post is not live."
          },
          "platformPostId": {
            "type": "string",
            "nullable": true
          },
          "platformUrl": {
            "type": "string",
            "nullable": true
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "retryCount": {
            "type": "integer"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "platform": {
            "type": "string",
            "enum": [
              "facebook",
              "instagram",
              "x",
              "tiktok",
              "youtube",
              "threads",
              "bluesky",
              "pinterest",
              "gmb",
              "linkedin",
              "mastodon",
              "reddit",
              "discord",
              "telegram",
              "tumblr",
              "snapchat"
            ]
          },
          "accountName": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "profileImage": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "tokenStatus": {
            "type": "string",
            "enum": [
              "valid",
              "expiring_soon",
              "expired"
            ]
          },
          "tokenExpiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "platformAvailable": {
            "type": "boolean",
            "description": "Whether this channel can publish right now. `false` means it is switched off server-side — the channel itself is healthy, but its scheduled posts are being held.\n\nResolved for THIS channel: the `PLATFORM_<NAME>` flag narrowed by any variant flag matching its `accountType`. LinkedIn company pages (`accountType: \"organization\"`) are gated separately from personal profiles, so two LinkedIn channels in the same response can differ here."
          },
          "platformState": {
            "type": "string",
            "enum": [
              "on",
              "connect_off",
              "off"
            ],
            "description": "Current availability of the platform, controlled by the `PLATFORM_<NAME>` environment flag on the server.\n\n- `on` — fully available.\n- `connect_off` — new channels cannot be connected, but channels already connected keep publishing normally (used while a platform app review is pending).\n- `off` — kill switch: the platform is unavailable, and posts targeting it are **held**, not failed. They publish automatically once the platform is switched back on.\n\nResolved for THIS channel: the `PLATFORM_<NAME>` flag narrowed by any variant flag matching its `accountType`. LinkedIn company pages (`accountType: \"organization\"`) are gated separately from personal profiles, so two LinkedIn channels in the same response can differ here."
          },
          "platformMessage": {
            "type": "string",
            "nullable": true,
            "description": "User-facing explanation when the platform is not fully available; `null` otherwise. When a variant rather than the whole platform is what is switched off, this names the variant (e.g. \"LinkedIn Company Pages\")."
          }
        }
      },
      "MediaFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fileName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "duration": {
            "type": "number",
            "nullable": true
          },
          "originalUrl": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true,
            "description": "160x160 square crop (webp). For videos this is generated from an extracted poster frame; null until the derivative job has run."
          },
          "previewUrl": {
            "type": "string",
            "nullable": true,
            "description": "400px-wide derivative (webp) for grids. For videos, generated from the poster frame."
          },
          "largeUrl": {
            "type": "string",
            "nullable": true,
            "description": "1200px-wide derivative (webp) for lightboxes and large preview panes. For videos, generated from the poster frame. Null on media uploaded before this derivative existed until the backfill runs."
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "post",
              "media"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly"
            ]
          },
          "dayOfWeek": {
            "type": "integer",
            "nullable": true
          },
          "dayOfMonth": {
            "type": "integer",
            "nullable": true
          },
          "timeOfDay": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "channelIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "contentTemplate": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "nextRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requireApproval": {
            "type": "boolean",
            "default": false,
            "description": "Optional. Hold every occurrence this schedule generates for team approval — each generated post lands with approvalStatus 'pending' and the scheduler skips it until an approver releases it via POST /api/posts/{id}/approve. Default false."
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "PlatformSpecific": {
        "type": "object",
        "description": "Per-platform options. Keys are platform names. Facebook: { shareToStory }. Instagram: { collaborators, shareToStory, trialReel, graduationStrategy ('manual'|'auto' — any other value is rejected with 400 VALIDATION_ERROR), thumbnailTimestamp (seconds) }. TikTok: { privacyLevel ('PUBLIC_TO_EVERYONE'|'MUTUAL_FOLLOW_FRIENDS'|'FOLLOWER_OF_CREATOR'|'SELF_ONLY'|'SEND_TO_USER_INBOX' — any other value is rejected with 400 VALIDATION_ERROR), disableDuet, disableStitch, disableComment, isAigc, brandContentToggle, brandOrganicToggle, thumbnailTimestamp }. YouTube: { title, privacyStatus ('public'|'unlisted'|'private' — any other value is rejected with 400 VALIDATION_ERROR), categoryId, madeForKids, playlistId, thumbnailUrl }. Pinterest: { title, description, link, [channelId]: { boardId } }. GMB: { ctaType ('BOOK'|'ORDER'|'SHOP'|'LEARN_MORE'|'SIGN_UP'|'CALL' — any other value is rejected with 400 VALIDATION_ERROR), ctaUrl, eventTitle, startDate, startTime, endDate, endTime, couponCode, redeemOnlineUrl, termsConditions }. X: { replySettings ('everyone'|'following'|'verified'|'subscribers'|'mentionedUsers' — any other value is rejected with 400 VALIDATION_ERROR) }. Threads: { quotePostId }. Reddit: { [channelId]: { subreddit (required), title, type, url, flairId, thumbnailUrl } }; subreddit falls back to the one stored on the channel, and title falls back to the first line of content truncated to 300 chars. thumbnailUrl is optional on video posts — when omitted the server falls back to the video's auto-extracted poster frame, and the publish fails only if neither exists. Unlike Pinterest's coverImageUrl there is no attached-image fallback, because a Reddit media post accepts exactly one file. Discord: { [channelId]: { channelId } } — the outer key is the BulkPublish channel id, the inner channelId is the target Discord text channel. Telegram: no options — the destination chat is fixed when the channel is connected. Tumblr: { [channelId]: { blogName, title, tags (array of strings, no leading '#'), link, sourceUrl } }; blogName defaults to the blog the channel was connected as. Snapchat: { [channelId]: { title (Saved Story title, max 45 chars — defaults to the caption's first line), locale (Spotlight locale, default 'en_US'), saveToProfile (Spotlight only — false sends skip_save_to_profile) } }; post types are story (default; caption not sent to Snapchat), saved_story and spotlight (video only, caption becomes the 160-char description); every Snapchat post requires exactly one image or video. Reddit, Discord, Tumblr and Snapchat also accept a flat (non channel-id-keyed) object that applies to every channel of that platform on the post. Use _firstComment (string), at the TOP level of platformSpecific rather than inside a platform key, for an auto-posted reply after publish. Supported on x, instagram, facebook, linkedin, youtube, threads, bluesky, mastodon, reddit and telegram; NOT supported on discord, pinterest, tiktok, gmb or tumblr, where the main post still publishes and the comment is recorded as failed. Snapchat does not support first comments either.",
        "properties": {
          "facebook": {
            "type": "object",
            "properties": {
              "shareToStory": {
                "type": "boolean",
                "description": "Also share to Facebook Story"
              }
            }
          },
          "x": {
            "type": "object",
            "properties": {
              "replySettings": {
                "type": "string",
                "enum": [
                  "everyone",
                  "following",
                  "verified",
                  "subscribers",
                  "mentionedUsers"
                ],
                "description": "Who can reply to this tweet"
              }
            }
          },
          "tiktok": {
            "type": "object",
            "properties": {
              "privacyLevel": {
                "type": "string",
                "enum": [
                  "PUBLIC_TO_EVERYONE",
                  "MUTUAL_FOLLOW_FRIENDS",
                  "FOLLOWER_OF_CREATOR",
                  "SELF_ONLY",
                  "SEND_TO_USER_INBOX"
                ]
              },
              "disableDuet": {
                "type": "boolean"
              },
              "disableStitch": {
                "type": "boolean"
              },
              "disableComment": {
                "type": "boolean"
              },
              "isAigc": {
                "type": "boolean",
                "description": "AI-generated content disclosure"
              },
              "brandContentToggle": {
                "type": "boolean",
                "description": "Paid partnership"
              },
              "brandOrganicToggle": {
                "type": "boolean",
                "description": "Brand promotional content"
              },
              "thumbnailTimestamp": {
                "type": "number",
                "description": "Thumbnail timestamp in seconds"
              }
            }
          },
          "youtube": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "privacyStatus": {
                "type": "string",
                "enum": [
                  "public",
                  "unlisted",
                  "private"
                ]
              },
              "categoryId": {
                "type": "string"
              },
              "madeForKids": {
                "type": "boolean"
              },
              "playlistId": {
                "type": "string"
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "URL of custom thumbnail image"
              }
            }
          },
          "pinterest": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "Destination URL"
              },
              "dominantColor": {
                "type": "string",
                "description": "Hex color e.g. #FF5733"
              },
              "coverImageUrl": {
                "type": "string",
                "description": "Cover image URL for video pins. Optional — when omitted, an image attached alongside the video is used, otherwise the auto-extracted poster frame of the video. Publishing fails only if none of the three is available."
              }
            }
          },
          "gmb": {
            "type": "object",
            "properties": {
              "ctaType": {
                "type": "string",
                "enum": [
                  "LEARN_MORE",
                  "BOOK",
                  "ORDER",
                  "SHOP",
                  "SIGN_UP",
                  "CALL"
                ]
              },
              "ctaUrl": {
                "type": "string"
              },
              "eventTitle": {
                "type": "string"
              },
              "startDate": {
                "type": "string",
                "description": "YYYY-MM-DD"
              },
              "startTime": {
                "type": "string",
                "description": "HH:MM"
              },
              "endDate": {
                "type": "string"
              },
              "endTime": {
                "type": "string"
              },
              "couponCode": {
                "type": "string"
              },
              "redeemOnlineUrl": {
                "type": "string"
              },
              "termsConditions": {
                "type": "string"
              }
            }
          },
          "instagram": {
            "type": "object",
            "properties": {
              "collaborators": {
                "type": "string",
                "description": "Comma-separated usernames without @"
              },
              "shareToStory": {
                "type": "boolean",
                "description": "Also share to Instagram Story"
              },
              "trialReel": {
                "type": "boolean",
                "description": "Post as trial reel"
              },
              "graduationStrategy": {
                "type": "string",
                "enum": [
                  "manual",
                  "auto"
                ],
                "description": "Trial reel graduation strategy"
              },
              "thumbnailTimestamp": {
                "type": "number",
                "description": "Thumbnail timestamp in seconds"
              }
            }
          },
          "threads": {
            "type": "object",
            "properties": {
              "quotePostId": {
                "type": "string",
                "description": "Threads post ID to quote"
              }
            }
          },
          "reddit": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Reddit channel on the post. The fields below are those of the inner object.",
            "properties": {
              "subreddit": {
                "type": "string",
                "description": "Required. Target subreddit. Accepts 'webdev', 'r/webdev' or '/r/webdev' — normalized to a bare lowercase name. Falls back to the subreddit stored on the channel."
              },
              "title": {
                "type": "string",
                "description": "Post title. Defaults to the first line of content, truncated to 300 characters."
              },
              "type": {
                "type": "string",
                "description": "Set to 'link' to force a link submission. The submission kind is otherwise resolved from the attached media: image file -> image, video file -> video, url set -> link, else self."
              },
              "url": {
                "type": "string",
                "description": "Destination URL for a link post. Supplying it implies type 'link'."
              },
              "flairId": {
                "type": "string",
                "description": "Link-flair id. List a subreddit's flairs via GET /api/channels/{id}/options."
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "Poster image URL for video posts. Optional — when omitted the server falls back to the video's auto-extracted poster frame, and publishing fails only when neither is available. Unlike Pinterest's coverImageUrl there is no attached-image fallback: a Reddit media post accepts exactly one file, so a video post cannot also carry a cover image."
              }
            }
          },
          "discord": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Discord channel on the post. The fields below are those of the inner object.",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "Required. The target Discord text channel id (a snowflake) within the connected server. Note this is a Discord channel id, not the BulkPublish channel id used as the outer key. List postable channels via GET /api/channels/{id}/options."
              }
            }
          },
          "telegram": {
            "type": "object",
            "description": "Telegram accepts no platform-specific options — the destination chat is fixed when the channel is connected. Content is sent as plain text (no parse mode). Text longer than the 1024-character caption limit is posted as a second message alongside captionless media.",
            "properties": {}
          },
          "tumblr": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Tumblr channel on the post. The fields below are those of the inner object.",
            "properties": {
              "blogName": {
                "type": "string",
                "description": "Which blog to publish to. Defaults to the blog the channel was connected as (the account's primary blog). List the account's blogs via GET /api/channels/{id}/options."
              },
              "title": {
                "type": "string",
                "description": "Rendered as a heading block above the post body."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tumblr tags, without the leading '#'."
              },
              "link": {
                "type": "string",
                "description": "Appended to the post as a link block."
              },
              "sourceUrl": {
                "type": "string",
                "description": "Attribution URL stored as the post's source."
              }
            }
          },
          "snapchat": {
            "type": "object",
            "description": "Keyed by BulkPublish channel id (e.g. \"12\"), or flat to apply to every Snapchat channel on the post. Post types: story (default), saved_story, spotlight. Every Snapchat post requires exactly one image or video; spotlight is video-only (6–60s). The caption is used only for Spotlight (160-char description) and as the Saved Story title fallback — plain stories carry no text.",
            "properties": {
              "title": {
                "type": "string",
                "maxLength": 45,
                "description": "Saved Story title (max 45 chars). Defaults to the first line of the caption, truncated."
              },
              "locale": {
                "type": "string",
                "description": "Spotlight locale, e.g. 'en_US'. Defaults to 'en_US' when omitted."
              },
              "saveToProfile": {
                "type": "boolean",
                "description": "Spotlight only. Default true; false sends skip_save_to_profile to Snap."
              }
            }
          }
        }
      },
      "PlatformAvailability": {
        "type": "object",
        "description": "Availability of one social platform. Disabled platforms are always included in responses with `enabled: false` — never omitted — so clients can tell \"switched off right now\" apart from \"not supported\".",
        "properties": {
          "platform": {
            "type": "string",
            "enum": [
              "facebook",
              "instagram",
              "x",
              "tiktok",
              "youtube",
              "threads",
              "bluesky",
              "pinterest",
              "gmb",
              "linkedin",
              "mastodon",
              "reddit",
              "discord",
              "telegram",
              "tumblr",
              "snapchat"
            ]
          },
          "displayName": {
            "type": "string",
            "example": "LinkedIn"
          },
          "color": {
            "type": "string",
            "nullable": true,
            "description": "Brand colour hex, for UI rendering.",
            "example": "#0A66C2"
          },
          "enabled": {
            "type": "boolean",
            "description": "Convenience flag; equivalent to `state == \"on\"`."
          },
          "state": {
            "type": "string",
            "enum": [
              "on",
              "connect_off",
              "off"
            ],
            "description": "Current availability of the platform, controlled by the `PLATFORM_<NAME>` environment flag on the server.\n\n- `on` — fully available.\n- `connect_off` — new channels cannot be connected, but channels already connected keep publishing normally (used while a platform app review is pending).\n- `off` — kill switch: the platform is unavailable, and posts targeting it are **held**, not failed. They publish automatically once the platform is switched back on."
          },
          "reason": {
            "type": "string",
            "enum": [
              "enabled",
              "flag_connect_off",
              "flag_off",
              "unconfigured"
            ],
            "description": "Why the platform is in this state. `unconfigured` means the server has no OAuth app credentials for it yet."
          },
          "canConnect": {
            "type": "boolean",
            "description": "Whether a NEW channel can be connected right now."
          },
          "canPublish": {
            "type": "boolean",
            "description": "Whether already-connected channels can publish right now."
          },
          "message": {
            "type": "string",
            "nullable": true,
            "description": "User-facing explanation. `null` when the platform is fully enabled."
          },
          "envVar": {
            "type": "string",
            "description": "The server env var controlling this platform. Only returned to organization owners and admins.",
            "example": "PLATFORM_LINKEDIN"
          },
          "variants": {
            "type": "object",
            "description": "Sub-platforms gated independently of their parent, keyed by the channel `accountType` they cover. Present only for platforms that have one. Today: `linkedin.organization` — LinkedIn company pages, which run on a separate LinkedIn app (Community Management API) reviewed separately from personal profiles, so pages can be paused while personal-profile posting stays fully live. A variant is never more permissive than its parent: `state: \"off\"` on the platform means every variant is off too.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "LinkedIn Company Pages"
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Convenience flag; equivalent to `state == \"on\"`."
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "on",
                    "connect_off",
                    "off"
                  ],
                  "description": "Same semantics as the platform-level `state`, resolved for this variant."
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "enabled",
                    "flag_connect_off",
                    "flag_off",
                    "unconfigured"
                  ]
                },
                "canConnect": {
                  "type": "boolean",
                  "description": "Whether a NEW channel of this account type can be connected right now."
                },
                "canPublish": {
                  "type": "boolean",
                  "description": "Whether already-connected channels of this account type can publish right now."
                },
                "message": {
                  "type": "string",
                  "nullable": true,
                  "description": "User-facing explanation. `null` when the variant is fully enabled."
                },
                "envVar": {
                  "type": "string",
                  "description": "The server env var controlling this variant. Only returned to organization owners and admins.",
                  "example": "PLATFORM_LINKEDIN_PAGES"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Posts",
      "description": "Create, schedule, publish, and manage posts across platforms"
    },
    {
      "name": "Channels",
      "description": "Connect and manage social media accounts"
    },
    {
      "name": "Channel Sets",
      "description": "Saved channel groups for one-click targeting"
    },
    {
      "name": "RSS Autopost",
      "description": "Turn RSS/Atom feed items into posts automatically"
    },
    {
      "name": "Media",
      "description": "Upload and manage images and videos"
    },
    {
      "name": "Analytics",
      "description": "View engagement metrics and performance data"
    },
    {
      "name": "Labels",
      "description": "Organize posts and media with labels"
    },
    {
      "name": "Schedules",
      "description": "Set up recurring post schedules"
    },
    {
      "name": "Organizations",
      "description": "Manage workspaces and teams"
    },
    {
      "name": "Notifications",
      "description": "View and manage in-app notifications"
    },
    {
      "name": "API Keys",
      "description": "Manage API authentication keys. Available on all plans (Free: 1 key, Pro: 5, Business: 10)."
    },
    {
      "name": "Utilities",
      "description": "Link previews, quotas, activity log"
    }
  ],
  "paths": {
    "/api/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "description": "Retrieve posts with pagination, filtering, and search. Results are ordered newest-first by the timestamp that applies to each post — publishedAt if it is live, else scheduledAt if it is due, else createdAt — with id descending as a tiebreaker. A post written weeks before it publishes therefore sorts by when it went live, not when it was drafted.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "**optional** — Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "**optional** — Items per page, max 500 (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 500
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter by post status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "publishing",
                "published",
                "processing",
                "failed",
                "partial"
              ]
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter by channel ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "required": false,
            "description": "**optional** — Comma-separated label IDs to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelId",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter by single label ID (legacy, prefer labelIds)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "labelMode",
            "in": "query",
            "required": false,
            "description": "**optional** — How to combine label filters (default: or)",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ],
              "default": "or"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "**optional** — Search in post content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter posts created on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter posts created on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduledFrom",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter posts scheduled on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduledTo",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter posts scheduled on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "recurring",
            "in": "query",
            "required": false,
            "description": "**optional** — Set to \"true\" to filter recurring posts only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "pending",
                "approved",
                "rejected"
              ]
            },
            "description": "Filter by team approval state (e.g. 'pending' for the approval queue)."
          }
        ],
        "responses": {
          "200": {
            "description": "Posts list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create post",
        "description": "Create a new post as draft or scheduled. Validates character limits per platform, media ownership, channel ownership, and plan quotas.\n\n**Character limits:** X: 280, Bluesky: 300, Threads: 500, Mastodon: 500, Pinterest: 500, GMB: 1500, Instagram: 2200, TikTok: 2200, LinkedIn: 3000, YouTube: 5000, Facebook: 63206. On X and Mastodon every URL counts as a flat 23 characters (t.co wrapping / Mastodon link counting), regardless of its real length.\n\n**Link cards:** for a text-only post (no media) containing a URL, the first URL is unfurled at publish time. Facebook receives it as the `link` param, Bluesky as an external embed (with thumbnail), and LinkedIn as a `content.article` card (LinkedIn's API never scrapes URLs itself; if the page yields no title, the post publishes as plain text without a card). Other platforms unfurl the URL themselves or render it as plain text (links in Instagram/TikTok captions are not clickable).\n\nReturns **403** with `code: \"PLATFORM_DISABLED\"` when a target channel's platform has been switched off server-side (`PLATFORM_<NAME>=off`). This is distinct from `FEATURE_DISABLED`, which means the platform is not on the organization's plan. Check `GET /api/platforms` for current availability. A channel's *variant* can be off on its own — LinkedIn company pages are gated separately from personal profiles — in which case the error also carries `accountType` (e.g. `\"organization\"`) naming the variant that is unavailable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channels"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Post text content (optional if media attached)"
                  },
                  "channels": {
                    "type": "array",
                    "description": "Required. Target channels to publish to",
                    "items": {
                      "type": "object",
                      "properties": {
                        "channelId": {
                          "type": "integer",
                          "description": "Channel ID from GET /api/channels"
                        },
                        "platform": {
                          "type": "string",
                          "description": "Platform name. Optional — the server always resolves the platform from the channel record; a supplied value is ignored."
                        }
                      },
                      "required": [
                        "channelId"
                      ]
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled"
                    ],
                    "default": "draft",
                    "description": "Optional. Default: draft"
                  },
                  "mediaFiles": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Optional. Media file IDs from POST /api/media"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional. Required when status is 'scheduled'"
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC",
                    "description": "Optional. IANA timezone (default: UTC)"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Optional. Label IDs to attach"
                  },
                  "postFormat": {
                    "type": "string",
                    "enum": [
                      "post",
                      "video",
                      "reel",
                      "story",
                      "carousel",
                      "thread"
                    ],
                    "default": "post",
                    "description": "Optional. Default: post"
                  },
                  "postTypeOverrides": {
                    "type": "object",
                    "description": "Optional. Per-platform post type override. E.g. { \"instagram\": \"reel\", \"facebook\": \"story\" }. A type the platform does not offer is rejected with 400 VALIDATION_ERROR (previously it silently fell back to the platform default). Instagram: feed_photo, feed_video, reel, story, carousel. Facebook: post, reel, story. TikTok: video, photo_slideshow. YouTube: video, short. LinkedIn: post, multi_image. Pinterest: pin, video_pin, carousel. GMB: standard, event, offer. Snapchat: story, saved_story, spotlight."
                  },
                  "platformSpecific": {
                    "$ref": "#/components/schemas/PlatformSpecific",
                    "description": "Optional. Platform-specific options"
                  },
                  "platformContent": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Optional. Per-platform content overrides mapping platform name to a plain string, e.g. { \"x\": \"Short version\" }. Values must be strings — nested objects are rejected with 400 VALIDATION_ERROR."
                  },
                  "deleteMediaAfterPublish": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Delete uploaded media right after publishing (default: false — media is kept and reclaimed by the 3-month retention sweep). Forced to false when the post has a repeatSchedule."
                  },
                  "threadParts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "mediaFileIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "description": "Optional. Required when postFormat is 'thread' (min 2 parts)"
                  },
                  "platformThreadParts": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "mediaFileIds": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "description": "Optional. Per-platform thread overrides, e.g. { \"x\": [{ \"content\": \"Part 1\" }] }. Part content must be a plain string — non-string shapes are rejected with 400 VALIDATION_ERROR."
                  },
                  "repeatSchedule": {
                    "type": "object",
                    "description": "Optional. Recurring schedule config",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "weekly",
                          "biweekly",
                          "monthly"
                        ]
                      },
                      "daysOfWeek": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "0=Sun, 6=Sat"
                      },
                      "dayOfMonth": {
                        "type": "integer"
                      },
                      "timeOfDay": {
                        "type": "string",
                        "description": "HH:MM format"
                      },
                      "timezone": {
                        "type": "string"
                      }
                    }
                  },
                  "autoPlugEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Auto-post a comment when the post reaches a like threshold"
                  },
                  "autoPlugText": {
                    "type": "string",
                    "description": "Optional. The promotional comment text for auto-plug"
                  },
                  "autoPlugThreshold": {
                    "type": "integer",
                    "default": 50,
                    "description": "Optional. Number of likes to trigger auto-plug (default: 50)"
                  },
                  "autoRepostEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Auto-repost/reshare when the post reaches a like threshold"
                  },
                  "autoRepostThreshold": {
                    "type": "integer",
                    "default": 100,
                    "description": "Optional. Number of likes to trigger auto-repost (default: 100)"
                  },
                  "requestApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Set true to hold a scheduled post for team approval (approvalStatus becomes 'pending'). Forced on server-side for roles without post:publish (contributors), regardless of this flag."
                  },
                  "linkTrackingOverride": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "default": null,
                    "description": "Per-post override for link tracking (bulkpubli.sh). `true` forces links in this post to be shortened and their clicks counted, `false` forces them to publish as written, and `null` (the default) inherits the organization's Link Tracking setting. Shortening happens at publish time, per channel, so two accounts on the same platform get distinct codes; it is skipped for a channel when the rewrite would push the post past that platform's character limit."
                  }
                }
              },
              "examples": {
                "simple": {
                  "summary": "Simple text post to X",
                  "value": {
                    "content": "Hello world!",
                    "channels": [
                      {
                        "channelId": 1,
                        "platform": "x"
                      }
                    ],
                    "status": "draft"
                  }
                },
                "scheduled-multi": {
                  "summary": "Scheduled post to multiple platforms",
                  "value": {
                    "content": "Check out our new feature!",
                    "mediaFiles": [
                      1,
                      2
                    ],
                    "status": "scheduled",
                    "scheduledAt": "2026-03-27T14:00:00Z",
                    "timezone": "America/New_York",
                    "channels": [
                      {
                        "channelId": 1,
                        "platform": "x"
                      },
                      {
                        "channelId": 3,
                        "platform": "linkedin"
                      }
                    ]
                  }
                },
                "linkedin-carousel": {
                  "summary": "LinkedIn PDF carousel",
                  "value": {
                    "content": "10 tips for social media growth",
                    "mediaFiles": [
                      10,
                      11,
                      12,
                      13,
                      14
                    ],
                    "channels": [
                      {
                        "channelId": 3,
                        "platform": "linkedin"
                      }
                    ],
                    "postTypeOverrides": {
                      "linkedin": "pdf_carousel"
                    },
                    "platformSpecific": {
                      "linkedin": {
                        "carouselTitle": "10 Tips"
                      }
                    },
                    "status": "draft"
                  }
                },
                "tiktok-with-controls": {
                  "summary": "TikTok video with content controls",
                  "value": {
                    "content": "Tutorial video",
                    "mediaFiles": [
                      20
                    ],
                    "channels": [
                      {
                        "channelId": 5,
                        "platform": "tiktok"
                      }
                    ],
                    "platformSpecific": {
                      "tiktok": {
                        "privacyLevel": "PUBLIC_TO_EVERYONE",
                        "disableComment": false,
                        "disableDuet": true,
                        "disableStitch": true,
                        "isAigc": false,
                        "brandContentToggle": false,
                        "brandOrganicToggle": false
                      }
                    },
                    "status": "scheduled",
                    "scheduledAt": "2026-03-28T18:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created"
          },
          "400": {
            "description": "Validation error (character limit, missing fields)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Platform not on the plan (`FEATURE_DISABLED`) or switched off server-side (`PLATFORM_DISABLED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Quota exceeded"
          }
        }
      }
    },
    "/api/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post",
        "description": "Returns full post details including recurringScheduleId and recurringSchedule when the post is linked to a recurring schedule.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post",
        "description": "Update a draft, scheduled, failed, or partial post. Note: the per-platform object fields (platformSpecific, platformContent, postTypeOverrides, platformThreadParts) are replaced wholesale, not merged — send the complete object including keys for every platform you want to keep. Sending a partial object (e.g. only one platform's content) removes the stored values for all other platforms. Editing a failed or partial post silently resets its status to draft and clears failed platform results (they revert to pending). Send the optional status field ('draft' or 'scheduled') to move a post between draft and scheduled; other status values are rejected. To publish immediately, use POST /api/posts/{id}/publish instead.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "mediaFiles": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled"
                    ],
                    "description": "Move the post between draft and scheduled. Setting 'scheduled' requires a future scheduledAt (in this body or already stored) and at least one channel; setting 'draft' unschedules it. Any other value is rejected. Omit to leave the status unchanged (failed/partial posts still auto-reset to draft on edit). To publish immediately, use POST /api/posts/{id}/publish instead."
                  },
                  "channels": {
                    "type": "array"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "platformSpecific": {
                    "type": "object",
                    "description": "Per-platform options, keyed by platform. Replaced wholesale on update (not merged)."
                  },
                  "platformContent": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Per-platform content overrides, keyed by platform; values must be plain strings (nested objects are rejected with 400 VALIDATION_ERROR). Replaced wholesale on update."
                  },
                  "postTypeOverrides": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Per-platform post type overrides, keyed by platform. Replaced wholesale on update."
                  },
                  "postFormat": {
                    "type": "string",
                    "enum": [
                      "post",
                      "thread"
                    ],
                    "description": "Post format. Defaults to 'post'."
                  },
                  "threadParts": {
                    "type": "array",
                    "description": "Thread segments (required when postFormat is 'thread'; at least 2). Each part: { content, mediaFileIds }.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "mediaFileIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "requestApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Set true to hold a scheduled post for team approval (approvalStatus becomes 'pending'). Forced on server-side for roles without post:publish (contributors), regardless of this flag."
                  },
                  "linkTrackingOverride": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "default": null,
                    "description": "Per-post override for link tracking (bulkpubli.sh). `true` forces links in this post to be shortened and their clicks counted, `false` forces them to publish as written, and `null` (the default) inherits the organization's Link Tracking setting. Shortening happens at publish time, per channel, so two accounts on the same platform get distinct codes; it is skipped for a channel when the rewrite would push the post past that platform's character limit."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post"
          },
          "400": {
            "description": "Validation error"
          }
        }
      },
      "patch": {
        "tags": [
          "Posts"
        ],
        "summary": "Attach or detach a post's recurring schedule",
        "description": "Narrow companion to PUT. This endpoint ONLY accepts `recurringScheduleId` — passing `null` detaches the post from its repeat schedule (and deactivates that schedule if it is left orphaned).\n\nAny other field (including `status` and `scheduledAt`) is rejected with **400** and `unsupportedFields` listing what was sent. **To edit a post — including moving a draft to `scheduled` — use `PUT /api/posts/{id}` with `{ \"status\": \"scheduled\", \"scheduledAt\": \"<future ISO 8601>\" }`.**",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recurringScheduleId": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Repeat-schedule id to attach, or null to detach."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "A field other than recurringScheduleId was sent; use PUT instead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Post not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/posts/{id}/publish": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Publish immediately",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publishing started"
          },
          "403": {
            "description": "Role cannot publish, or a target platform is switched off server-side (`PLATFORM_DISABLED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Requires a role with post:publish — contributors get 403 APPROVAL_REQUIRED and must submit the post for approval instead (create/update with requestApproval, then a teammate approves). Publishing a pending/rejected post as an approver implicitly approves it.\n\nReturns **403** with `code: \"PLATFORM_DISABLED\"` when one of the post's platforms has been switched off server-side (`PLATFORM_<NAME>=off`); the post is left untouched. Check `GET /api/platforms` for current availability. A channel's *variant* can be off on its own — LinkedIn company pages are gated separately from personal profiles — in which case the error also carries `accountType` (e.g. `\"organization\"`) naming the variant that is unavailable."
      }
    },
    "/api/posts/{id}/retry": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Retry failed platforms",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retry queued"
          },
          "400": {
            "description": "No failed platforms, or unconfirmed platforms present without republish: true (code UNCONFIRMED_REQUIRES_REPUBLISH)"
          }
        },
        "description": "Re-queues this post's failed platforms. Platforms in status 'unconfirmed' (the publish request may have reached the platform but its response was lost — the post may already be live) are NOT retried unless the body passes republish: true; without it the request fails with code UNCONFIRMED_REQUIRES_REPUBLISH. Check the account before passing republish: true — retrying an unconfirmed platform can duplicate the post.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "republish": {
                    "type": "boolean",
                    "default": false,
                    "description": "Explicit opt-in to also retry platforms in status 'unconfirmed'. Their publish may have already gone through; retrying can create a duplicate post."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{id}/metrics": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post metrics",
        "description": "Per-platform engagement metrics with history snapshots.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics per platform.\n\nEach entry in `platforms` carries `metricsSupported` (false when the platform exposes no readable per-post statistics API — Google Business, Telegram, Tumblr (which reports only a combined note count that cannot be split into likes/reblogs/replies), and LinkedIn personal/profile channels) and `supportedMetrics`, the list of metric keys that platform's API can populate. Every other key on `latest` is stored as 0 by the metrics sync regardless of what the platform returned, so those zeroes mean “not reported” and must not be presented as measurements.\n\nEach platform entry carries `linkClicks`, and `totals.linkClicks` sums them: clicks on bulkpubli.sh short links in this post, measured by BulkPublish. It sits OUTSIDE `latest` because it is not a platform snapshot — a platform that reports nothing still has link clicks — and is distinct from the platform-reported `clicks` field. `supportedMetrics` therefore always includes `linkClicks`, even when `metricsSupported` is false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "integer"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "type": "string"
                          },
                          "platformPostId": {
                            "type": "string",
                            "nullable": true
                          },
                          "platformUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "metricsSupported": {
                            "type": "boolean",
                            "description": "false => this channel can never have per-post metrics."
                          },
                          "supportedMetrics": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "impressions",
                                "reach",
                                "likes",
                                "comments",
                                "shares",
                                "saves",
                                "clicks",
                                "videoViews",
                                "engagementRate"
                              ]
                            },
                            "description": "Metric keys this platform's API can report. Keys not listed are stored zeroes, not measurements."
                          },
                          "latest": {
                            "type": "object",
                            "nullable": true
                          },
                          "history": {
                            "type": "array"
                          }
                        }
                      }
                    },
                    "totals": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{id}/engagement": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post engagement (commenters + reactors)",
        "description": "Returns per-platform lists of the people/pages who commented on or reacted to a published post — with name, handle/headline, profile photo and profile URL when the platform exposes them. Platforms that only expose aggregate counts (e.g. Instagram likers, YouTube likers) populate `comments` only and set a `notice` field. Platforms with no engagement API at all (e.g. TikTok) return `unsupported: true`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "commentsLimit",
            "in": "query",
            "required": false,
            "description": "**optional** — Max comments per platform (default 25, max 100). Counts replies as well as top-level comments; when replies push a platform past the cap, `hasMoreComments` is true.",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "reactionsLimit",
            "in": "query",
            "required": false,
            "description": "**optional** — Max reactors per platform (default 25, max 100)",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement per platform",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "integer"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "type": "string"
                          },
                          "platformPostId": {
                            "type": "string",
                            "nullable": true
                          },
                          "platformUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "engagement": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "comments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "likeCount": {
                                      "type": "integer"
                                    },
                                    "actor": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "handle": {
                                          "type": "string"
                                        },
                                        "headline": {
                                          "type": "string"
                                        },
                                        "profileImage": {
                                          "type": "string"
                                        },
                                        "profileUrl": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "parentId": {
                                      "type": "string",
                                      "description": "Set when this comment is a reply — the id of the comment it replies to. Absent for top-level comments. Clients can use it to nest replies; a parentId not present in the returned page should be rendered at top level."
                                    }
                                  }
                                }
                              },
                              "reactions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "actor": {
                                      "type": "object"
                                    }
                                  }
                                }
                              },
                              "hasMoreComments": {
                                "type": "boolean"
                              },
                              "hasMoreReactions": {
                                "type": "boolean"
                              },
                              "unsupported": {
                                "type": "boolean"
                              },
                              "notice": {
                                "type": "string"
                              },
                              "reactionsUnsupported": {
                                "type": "boolean",
                                "description": "True when the platform exposes commenters but never individual likers (Threads, Instagram, YouTube). `reactions` is always empty; clients should hide any reactors UI rather than render an empty list."
                              }
                            }
                          },
                          "error": {
                            "type": "string"
                          },
                          "accountName": {
                            "type": "string",
                            "nullable": true,
                            "description": "Name of the connected account/Page the content was read from. Shown in the UI so the source is identifiable."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/posts/{id}/story": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Publish as Story",
        "description": "Publish the post's first media as a Facebook or Instagram Story (disappears after 24h). The post must have media and a published platform entry for the target platform.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "facebook",
                      "instagram"
                    ],
                    "description": "**required** — Target platform for the story"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Story published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid platform, no media, or no matching platform entry"
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/posts/bulk": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Bulk actions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "postIds"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "delete",
                      "retry",
                      "reschedule"
                    ]
                  },
                  "postIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk action completed"
          }
        }
      }
    },
    "/api/posts/queue-slot": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get next available queue slot",
        "description": "Returns the next available time slot for scheduling a post based on your queue settings.",
        "parameters": [
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "**optional** — IANA timezone (default: UTC)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next available queue slot"
          }
        }
      }
    },
    "/api/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List channels",
        "description": "Returns all connected channels including tokenExpiresAt and metadata per channel.",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "**optional** — Filter by active status (default: true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Channel"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get channel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details"
          }
        }
      },
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Disconnect channel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected"
          }
        }
      }
    },
    "/api/channels/{id}/health": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Check channel health",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health status"
          }
        }
      }
    },
    "/api/channels/{id}/options": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get platform-specific options for a channel",
        "description": "Returns boards (Pinterest), playlists (YouTube), or organizations (LinkedIn) depending on the channel's platform. Returns empty items for platforms without sub-resources.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Channel ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "boards",
                        "playlists",
                        "organizations",
                        null
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/{id}/mentions": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Search users for @mention",
        "description": "Search for users on a channel's platform to @mention in post content. Currently supported on X (Twitter) and Bluesky. Other platforms return an empty array.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Channel ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (max 100 chars)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List media files",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "**optional** — Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "**optional** — Items per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "**optional** — Search by filename",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "required": false,
            "description": "**optional** — Comma-separated label IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media list"
          }
        }
      },
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload media (single request)",
        "description": "Upload an image or video file in one multipart request (server relays to storage). Max 100MB (for videos up to 1GB use the multipart endpoints: /api/media/multipart/create → PUT each part → /api/media/multipart/complete). Formats: JPEG, PNG, WebP, GIF, MP4, QuickTime, WebM. Browser clients should prefer the faster direct-to-storage flow: POST /api/media/presign then PUT the file to the returned URL then POST /api/media/finalize.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/api/media/presign": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Get a direct upload URL",
        "description": "Step 1 of the direct-to-storage upload. Checks the storage quota and returns a presigned PUT URL plus the object key. PUT the file (max 100MB — videos up to 1GB go through the multipart endpoints instead) to `uploadUrl` with a matching `Content-Type` header, then call POST /api/media/finalize.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contentType",
                  "sizeBytes"
                ],
                "properties": {
                  "contentType": {
                    "type": "string",
                    "description": "MIME type (JPEG, PNG, WebP, GIF, MP4, QuickTime, WebM)"
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "description": "Size of the file to upload in bytes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presigned URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadUrl": {
                      "type": "string"
                    },
                    "r2Key": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid type or size"
          },
          "403": {
            "description": "Storage quota exceeded"
          }
        }
      }
    },
    "/api/media/finalize": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Finalize a direct upload",
        "description": "Step 2 of the direct-to-storage upload. After the file is PUT to the presigned URL, this records the media file and queues thumbnail generation. The stored object is verified server-side (existence, size, magic bytes) before the record is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "r2Key",
                  "fileName",
                  "mimeType",
                  "sizeBytes"
                ],
                "properties": {
                  "r2Key": {
                    "type": "string",
                    "description": "Object key returned by /api/media/presign"
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "sizeBytes": {
                    "type": "integer"
                  },
                  "width": {
                    "type": "integer",
                    "description": "**optional** — image/video width"
                  },
                  "height": {
                    "type": "integer",
                    "description": "**optional** — image/video height"
                  },
                  "duration": {
                    "type": "integer",
[...]
