{
  "openapi": "3.1.0",
  "info": {
    "title": "BulkPublish API",
    "version": "1.0.0",
    "description": "Publish to 11 social media platforms from a single API."
  },
  "servers": [
    {
      "url": "https://app.bulkpublish.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key from Settings > API Keys. Pass as `Bearer bp_your_key_here`"
      }
    },
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "publishing",
              "published",
              "processing",
              "failed",
              "partial"
            ]
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "timezone": {
            "type": "string"
          },
          "postFormat": {
            "type": "string",
            "enum": [
              "post",
              "video",
              "reel",
              "story",
              "carousel",
              "thread"
            ]
          },
          "postTypeOverrides": {
            "type": "object",
            "description": "Per-platform post type override. E.g. { \"instagram\": \"reel\", \"facebook\": \"story\" }. Instagram: feed_photo, feed_video, reel, story, carousel. Facebook: post, reel, story. TikTok: video, photo_slideshow. YouTube: video, short. LinkedIn: post, multi_image. Pinterest: pin, video_pin, carousel. GMB: standard, event, offer."
          },
          "platformSpecific": {
            "type": "object",
            "description": "Per-platform options. Keys are platform names. Facebook: { shareToStory }. Instagram: { collaborators, shareToStory, trialReel, graduationStrategy ('manual'|'auto'), thumbnailTimestamp (seconds) }. TikTok: { privacyLevel ('PUBLIC_TO_EVERYONE'|'MUTUAL_FOLLOW_FRIENDS'|'FOLLOWER_OF_CREATOR'|'SELF_ONLY'|'SEND_TO_USER_INBOX'), disableDuet, disableStitch, disableComment, isAigc, brandContentToggle, brandOrganicToggle, thumbnailTimestamp }. YouTube: { title, privacyStatus, categoryId, madeForKids, playlistId, thumbnailUrl }. Pinterest: { title, description, link, [channelId]: { boardId } }. GMB: { ctaType, ctaUrl, eventTitle, startDate, startTime, endDate, endTime, couponCode, redeemOnlineUrl, termsConditions }. X: { replySettings ('everyone'|'following'|'mentionedUsers') }. Threads: { quotePostId }. Use _firstComment (string) for auto-posted reply after publish."
          },
          "platformContent": {
            "type": "object",
            "description": "Per-platform content overrides, e.g. { \"x\": \"Short version\" }"
          },
          "deleteMediaAfterPublish": {
            "type": "boolean",
            "default": false,
            "description": "Whether uploaded media is deleted right after publishing. Defaults to false \u2014 media is kept and reclaimed by the 3-month retention sweep. Always false for recurring-schedule posts and bulk-created posts."
          },
          "autoPlugEnabled": {
            "type": "boolean"
          },
          "autoPlugText": {
            "type": "string",
            "nullable": true
          },
          "autoPlugThreshold": {
            "type": "integer"
          },
          "autoPlugFired": {
            "type": "boolean"
          },
          "autoRepostEnabled": {
            "type": "boolean"
          },
          "autoRepostThreshold": {
            "type": "integer"
          },
          "autoRepostFired": {
            "type": "boolean"
          },
          "recurringScheduleId": {
            "type": "integer",
            "nullable": true
          },
          "recurringSchedule": {
            "type": "object",
            "nullable": true,
            "description": "Full recurring schedule details when linked"
          },
          "mediaFiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaFile"
            }
          },
          "postPlatforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostPlatform"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Label"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "approvalStatus": {
            "type": "string",
            "enum": [
              "none",
              "pending",
              "approved",
              "rejected"
            ],
            "default": "none",
            "description": "Team approval state, orthogonal to status. 'pending' and 'rejected' posts are skipped by the scheduler even when scheduled and overdue; approving via POST /api/posts/{id}/approve releases them (an overdue post publishes immediately on approval). Members whose role lacks post:publish (contributors) always get 'pending' when scheduling; others can opt in with requestApproval."
          },
          "approvedBy": {
            "type": "string",
            "nullable": true,
            "description": "User ID of the approver (set when approvalStatus is 'approved')."
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true,
            "description": "Reviewer's reason when approvalStatus is 'rejected'."
          }
        }
      },
      "PostPlatform": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "channelId": {
            "type": "integer"
          },
          "platform": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "platformPostId": {
            "type": "string",
            "nullable": true
          },
          "platformUrl": {
            "type": "string",
            "nullable": true
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "retryCount": {
            "type": "integer"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "platform": {
            "type": "string",
            "enum": [
              "facebook",
              "instagram",
              "x",
              "tiktok",
              "youtube",
              "threads",
              "bluesky",
              "pinterest",
              "gmb",
              "linkedin",
              "mastodon",
              "reddit",
              "discord",
              "telegram"
            ]
          },
          "accountName": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "profileImage": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "tokenStatus": {
            "type": "string",
            "enum": [
              "valid",
              "expiring_soon",
              "expired"
            ]
          },
          "tokenExpiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MediaFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fileName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "duration": {
            "type": "number",
            "nullable": true
          },
          "originalUrl": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "post",
              "media"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "daily",
              "weekly",
              "biweekly",
              "monthly"
            ]
          },
          "dayOfWeek": {
            "type": "integer",
            "nullable": true
          },
          "dayOfMonth": {
            "type": "integer",
            "nullable": true
          },
          "timeOfDay": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "channelIds": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "contentTemplate": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "nextRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "PlatformSpecific": {
        "type": "object",
        "description": "Per-platform options. Keys are platform names. Facebook: { shareToStory }. Instagram: { collaborators, shareToStory, trialReel, graduationStrategy ('manual'|'auto'), thumbnailTimestamp (seconds) }. TikTok: { privacyLevel ('PUBLIC_TO_EVERYONE'|'MUTUAL_FOLLOW_FRIENDS'|'FOLLOWER_OF_CREATOR'|'SELF_ONLY'|'SEND_TO_USER_INBOX'), disableDuet, disableStitch, disableComment, isAigc, brandContentToggle, brandOrganicToggle, thumbnailTimestamp }. YouTube: { title, privacyStatus, categoryId, madeForKids, playlistId, thumbnailUrl }. Pinterest: { title, description, link, [channelId]: { boardId } }. GMB: { ctaType, ctaUrl, eventTitle, startDate, startTime, endDate, endTime, couponCode, redeemOnlineUrl, termsConditions }. X: { replySettings ('everyone'|'following'|'mentionedUsers') }. Threads: { quotePostId }. Use _firstComment (string) for auto-posted reply after publish.",
        "properties": {
          "facebook": {
            "type": "object",
            "properties": {
              "shareToStory": {
                "type": "boolean",
                "description": "Also share to Facebook Story"
              }
            }
          },
          "x": {
            "type": "object",
            "properties": {
              "replySettings": {
                "type": "string",
                "enum": [
                  "everyone",
                  "following",
                  "mentionedUsers"
                ],
                "description": "Who can reply to this tweet"
              }
            }
          },
          "tiktok": {
            "type": "object",
            "properties": {
              "privacyLevel": {
                "type": "string",
                "enum": [
                  "PUBLIC_TO_EVERYONE",
                  "MUTUAL_FOLLOW_FRIENDS",
                  "FOLLOWER_OF_CREATOR",
                  "SELF_ONLY",
                  "SEND_TO_USER_INBOX"
                ]
              },
              "disableDuet": {
                "type": "boolean"
              },
              "disableStitch": {
                "type": "boolean"
              },
              "disableComment": {
                "type": "boolean"
              },
              "isAigc": {
                "type": "boolean",
                "description": "AI-generated content disclosure"
              },
              "brandContentToggle": {
                "type": "boolean",
                "description": "Paid partnership"
              },
              "brandOrganicToggle": {
                "type": "boolean",
                "description": "Brand promotional content"
              },
              "thumbnailTimestamp": {
                "type": "number",
                "description": "Thumbnail timestamp in seconds"
              }
            }
          },
          "youtube": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "privacyStatus": {
                "type": "string",
                "enum": [
                  "public",
                  "unlisted",
                  "private"
                ]
              },
              "categoryId": {
                "type": "string"
              },
              "madeForKids": {
                "type": "boolean"
              },
              "playlistId": {
                "type": "string"
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "URL of custom thumbnail image"
              }
            }
          },
          "pinterest": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "Destination URL"
              },
              "dominantColor": {
                "type": "string",
                "description": "Hex color e.g. #FF5733"
              }
            }
          },
          "gmb": {
            "type": "object",
            "properties": {
              "ctaType": {
                "type": "string",
                "enum": [
                  "LEARN_MORE",
                  "BOOK",
                  "ORDER",
                  "SHOP",
                  "SIGN_UP",
                  "CALL"
                ]
              },
              "ctaUrl": {
                "type": "string"
              },
              "eventTitle": {
                "type": "string"
              },
              "startDate": {
                "type": "string",
                "description": "YYYY-MM-DD"
              },
              "startTime": {
                "type": "string",
                "description": "HH:MM"
              },
              "endDate": {
                "type": "string"
              },
              "endTime": {
                "type": "string"
              },
              "couponCode": {
                "type": "string"
              },
              "redeemOnlineUrl": {
                "type": "string"
              },
              "termsConditions": {
                "type": "string"
              }
            }
          },
          "instagram": {
            "type": "object",
            "properties": {
              "collaborators": {
                "type": "string",
                "description": "Comma-separated usernames without @"
              },
              "shareToStory": {
                "type": "boolean",
                "description": "Also share to Instagram Story"
              },
              "trialReel": {
                "type": "boolean",
                "description": "Post as trial reel"
              },
              "graduationStrategy": {
                "type": "string",
                "enum": [
                  "manual",
                  "auto"
                ],
                "description": "Trial reel graduation strategy"
              },
              "thumbnailTimestamp": {
                "type": "number",
                "description": "Thumbnail timestamp in seconds"
              }
            }
          },
          "threads": {
            "type": "object",
            "properties": {
              "quotePostId": {
                "type": "string",
                "description": "Threads post ID to quote"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Posts",
      "description": "Create, schedule, publish, and manage posts across platforms"
    },
    {
      "name": "Channels",
      "description": "Connect and manage social media accounts"
    },
    {
      "name": "Channel Sets",
      "description": "Saved channel groups for one-click targeting"
    },
    {
      "name": "RSS Autopost",
      "description": "Turn RSS/Atom feed items into posts automatically"
    },
    {
      "name": "Media",
      "description": "Upload and manage images and videos"
    },
    {
      "name": "Analytics",
      "description": "View engagement metrics and performance data"
    },
    {
      "name": "Labels",
      "description": "Organize posts and media with labels"
    },
    {
      "name": "Schedules",
      "description": "Set up recurring post schedules"
    },
    {
      "name": "Organizations",
      "description": "Manage workspaces and teams"
    },
    {
      "name": "Notifications",
      "description": "View and manage in-app notifications"
    },
    {
      "name": "API Keys",
      "description": "Manage API authentication keys. Available on all plans (Free: 1 key, Pro: 5, Business: 10)."
    },
    {
      "name": "Utilities",
      "description": "Link previews, quotas, activity log"
    }
  ],
  "paths": {
    "/api/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "description": "Retrieve posts with pagination, filtering, and search.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Items per page, max 500 (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 500
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by post status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "publishing",
                "published",
                "processing",
                "failed",
                "partial"
              ]
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by channel ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Comma-separated label IDs to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelId",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by single label ID (legacy, prefer labelIds)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "labelMode",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 How to combine label filters (default: or)",
            "schema": {
              "type": "string",
              "enum": [
                "or",
                "and"
              ],
              "default": "or"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Search in post content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts created on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts created on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduledFrom",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts scheduled on or after this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "scheduledTo",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter posts scheduled on or before this date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "recurring",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Set to \"true\" to filter recurring posts only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "pending",
                "approved",
                "rejected"
              ]
            },
            "description": "Filter by team approval state (e.g. 'pending' for the approval queue)."
          }
        ],
        "responses": {
          "200": {
            "description": "Posts list with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create post",
        "description": "Create a new post as draft or scheduled. Validates character limits per platform, media ownership, channel ownership, and plan quotas.\n\n**Character limits:** X: 280, Bluesky: 300, Threads: 500, Mastodon: 500, Pinterest: 500, GMB: 1500, Instagram: 2200, TikTok: 2200, LinkedIn: 3000, YouTube: 5000, Facebook: 63206. On X and Mastodon every URL counts as a flat 23 characters (t.co wrapping / Mastodon link counting), regardless of its real length.\n\n**Link cards:** for a text-only post (no media) containing a URL, the first URL is unfurled at publish time. Facebook receives it as the `link` param, Bluesky as an external embed (with thumbnail), and LinkedIn as a `content.article` card (LinkedIn's API never scrapes URLs itself; if the page yields no title, the post publishes as plain text without a card). Other platforms unfurl the URL themselves or render it as plain text (links in Instagram/TikTok captions are not clickable).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channels"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Post text content (optional if media attached)"
                  },
                  "channels": {
                    "type": "array",
                    "description": "Required. Target channels to publish to",
                    "items": {
                      "type": "object",
                      "properties": {
                        "channelId": {
                          "type": "integer",
                          "description": "Channel ID from GET /api/channels"
                        },
                        "platform": {
                          "type": "string",
                          "description": "Platform name. Optional \u2014 the server always resolves the platform from the channel record; a supplied value is ignored."
                        }
                      },
                      "required": [
                        "channelId"
                      ]
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled"
                    ],
                    "default": "draft",
                    "description": "Optional. Default: draft"
                  },
                  "mediaFiles": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Optional. Media file IDs from POST /api/media"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional. Required when status is 'scheduled'"
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC",
                    "description": "Optional. IANA timezone (default: UTC)"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Optional. Label IDs to attach"
                  },
                  "postFormat": {
                    "type": "string",
                    "enum": [
                      "post",
                      "video",
                      "reel",
                      "story",
                      "carousel",
                      "thread"
                    ],
                    "default": "post",
                    "description": "Optional. Default: post"
                  },
                  "postTypeOverrides": {
                    "type": "object",
                    "description": "Optional. Per-platform post type override. E.g. { \"instagram\": \"reel\", \"facebook\": \"story\" }. Instagram: feed_photo, feed_video, reel, story, carousel. Facebook: post, reel, story. TikTok: video, photo_slideshow. YouTube: video, short. LinkedIn: post, multi_image. Pinterest: pin, video_pin, carousel. GMB: standard, event, offer."
                  },
                  "platformSpecific": {
                    "$ref": "#/components/schemas/PlatformSpecific",
                    "description": "Optional. Platform-specific options"
                  },
                  "platformContent": {
                    "type": "object",
                    "description": "Optional. Per-platform content overrides, e.g. { \"x\": \"Short version\" }"
                  },
                  "deleteMediaAfterPublish": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Delete uploaded media right after publishing (default: false \u2014 media is kept and reclaimed by the 3-month retention sweep). Forced to false when the post has a repeatSchedule."
                  },
                  "threadParts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "mediaFileIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "description": "Optional. Required when postFormat is 'thread' (min 2 parts)"
                  },
                  "platformThreadParts": {
                    "type": "object",
                    "description": "Optional. Per-platform thread overrides, e.g. { \"x\": [{ \"content\": \"Part 1\" }] }"
                  },
                  "repeatSchedule": {
                    "type": "object",
                    "description": "Optional. Recurring schedule config",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "weekly",
                          "biweekly",
                          "monthly"
                        ]
                      },
                      "daysOfWeek": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        },
                        "description": "0=Sun, 6=Sat"
                      },
                      "dayOfMonth": {
                        "type": "integer"
                      },
                      "timeOfDay": {
                        "type": "string",
                        "description": "HH:MM format"
                      },
                      "timezone": {
                        "type": "string"
                      }
                    }
                  },
                  "autoPlugEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Auto-post a comment when the post reaches a like threshold"
                  },
                  "autoPlugText": {
                    "type": "string",
                    "description": "Optional. The promotional comment text for auto-plug"
                  },
                  "autoPlugThreshold": {
                    "type": "integer",
                    "default": 50,
                    "description": "Optional. Number of likes to trigger auto-plug (default: 50)"
                  },
                  "autoRepostEnabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Auto-repost/reshare when the post reaches a like threshold"
                  },
                  "autoRepostThreshold": {
                    "type": "integer",
                    "default": 100,
                    "description": "Optional. Number of likes to trigger auto-repost (default: 100)"
                  },
                  "requestApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Set true to hold a scheduled post for team approval (approvalStatus becomes 'pending'). Forced on server-side for roles without post:publish (contributors), regardless of this flag."
                  }
                }
              },
              "examples": {
                "simple": {
                  "summary": "Simple text post to X",
                  "value": {
                    "content": "Hello world!",
                    "channels": [
                      {
                        "channelId": 1,
                        "platform": "x"
                      }
                    ],
                    "status": "draft"
                  }
                },
                "scheduled-multi": {
                  "summary": "Scheduled post to multiple platforms",
                  "value": {
                    "content": "Check out our new feature!",
                    "mediaFiles": [
                      1,
                      2
                    ],
                    "status": "scheduled",
                    "scheduledAt": "2026-03-27T14:00:00Z",
                    "timezone": "America/New_York",
                    "channels": [
                      {
                        "channelId": 1,
                        "platform": "x"
                      },
                      {
                        "channelId": 3,
                        "platform": "linkedin"
                      }
                    ]
                  }
                },
                "linkedin-carousel": {
                  "summary": "LinkedIn PDF carousel",
                  "value": {
                    "content": "10 tips for social media growth",
                    "mediaFiles": [
                      10,
                      11,
                      12,
                      13,
                      14
                    ],
                    "channels": [
                      {
                        "channelId": 3,
                        "platform": "linkedin"
                      }
                    ],
                    "postTypeOverrides": {
                      "linkedin": "pdf_carousel"
                    },
                    "platformSpecific": {
                      "linkedin": {
                        "carouselTitle": "10 Tips"
                      }
                    },
                    "status": "draft"
                  }
                },
                "tiktok-with-controls": {
                  "summary": "TikTok video with content controls",
                  "value": {
                    "content": "Tutorial video",
                    "mediaFiles": [
                      20
                    ],
                    "channels": [
                      {
                        "channelId": 5,
                        "platform": "tiktok"
                      }
                    ],
                    "platformSpecific": {
                      "tiktok": {
                        "privacyLevel": "PUBLIC_TO_EVERYONE",
                        "disableComment": false,
                        "disableDuet": true,
                        "disableStitch": true,
                        "isAigc": false,
                        "brandContentToggle": false,
                        "brandOrganicToggle": false
                      }
                    },
                    "status": "scheduled",
                    "scheduledAt": "2026-03-28T18:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created"
          },
          "400": {
            "description": "Validation error (character limit, missing fields)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (media/channel/label ownership)"
          },
          "422": {
            "description": "Quota exceeded"
          }
        }
      }
    },
    "/api/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post",
        "description": "Returns full post details including recurringScheduleId and recurringSchedule when the post is linked to a recurring schedule.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post",
        "description": "Update a draft, scheduled, failed, or partial post. Note: the per-platform object fields (platformSpecific, platformContent, postTypeOverrides, platformThreadParts) are replaced wholesale, not merged \u2014 send the complete object including keys for every platform you want to keep. Sending a partial object (e.g. only one platform's content) removes the stored values for all other platforms. Editing a failed or partial post silently resets its status to draft and clears failed platform results (they revert to pending). Send the optional status field ('draft' or 'scheduled') to move a post between draft and scheduled; other status values are rejected. To publish immediately, use POST /api/posts/{id}/publish instead.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "mediaFiles": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "channels": {
                    "type": "array"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "platformSpecific": {
                    "type": "object",
                    "description": "Per-platform options, keyed by platform. Replaced wholesale on update (not merged)."
                  },
                  "platformContent": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Per-platform content overrides, keyed by platform. Replaced wholesale on update."
                  },
                  "postTypeOverrides": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Per-platform post type overrides, keyed by platform. Replaced wholesale on update."
                  },
                  "postFormat": {
                    "type": "string",
                    "enum": [
                      "post",
                      "thread"
                    ],
                    "description": "Post format. Defaults to 'post'."
                  },
                  "threadParts": {
                    "type": "array",
                    "description": "Thread segments (required when postFormat is 'thread'; at least 2). Each part: { content, mediaFileIds }.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string"
                        },
                        "mediaFileIds": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "scheduled"
                    ],
                    "description": "Move the post between draft and scheduled. Setting 'scheduled' requires a future scheduledAt (in this body or already stored) and at least one channel; setting 'draft' unschedules it. Any other value is rejected. Omit to leave the status unchanged (failed/partial posts still auto-reset to draft on edit). To publish immediately, use POST /api/posts/{id}/publish instead."
                  },
                  "requestApproval": {
                    "type": "boolean",
                    "default": false,
                    "description": "Optional. Set true to hold a scheduled post for team approval (approvalStatus becomes 'pending'). Forced on server-side for roles without post:publish (contributors), regardless of this flag."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post"
          },
          "400": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/posts/{id}/publish": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Publish immediately",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publishing started"
          }
        },
        "description": "Requires a role with post:publish \u2014 contributors get 403 APPROVAL_REQUIRED and must submit the post for approval instead (create/update with requestApproval, then a teammate approves). Publishing a pending/rejected post as an approver implicitly approves it."
      }
    },
    "/api/posts/{id}/retry": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Retry failed platforms",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retry queued"
          }
        }
      }
    },
    "/api/posts/{id}/approve": {
      "post": {
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "summary": "Approve a pending post",
        "description": "Requires a role with post:approve (owner, admin, approver). Releases a post with approvalStatus 'pending': it publishes at its scheduled time, or immediately if that time has already passed. The author is notified in-app.",
        "operationId": "approvePost",
        "responses": {
          "200": {
            "description": "The approved post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Post is not awaiting approval"
          },
          "403": {
            "description": "Role lacks post:approve"
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/posts/{id}/reject": {
      "post": {
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "summary": "Reject a pending post",
        "description": "Requires a role with post:approve. The post returns to draft with approvalStatus 'rejected' and the optional reason; the author is notified and can edit + reschedule to resubmit for approval.",
        "operationId": "rejectPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Optional. Shown to the author (in-app notification + on the post)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rejected post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Post is not awaiting approval"
          },
          "403": {
            "description": "Role lacks post:approve"
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/posts/{id}/metrics": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post metrics",
        "description": "Per-platform engagement metrics with history snapshots.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics per platform",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "integer"
                    },
                    "platforms": {
                      "type": "array"
                    },
                    "totals": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{id}/engagement": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post engagement (commenters + reactors)",
        "description": "Returns per-platform lists of the people/pages who commented on or reacted to a published post \u2014 with name, handle/headline, profile photo and profile URL when the platform exposes them. Platforms that only expose aggregate counts (e.g. Instagram likers, YouTube likers) populate `comments` only and set a `notice` field. Platforms with no engagement API at all (e.g. TikTok) return `unsupported: true`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "commentsLimit",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Max commenters per platform (default 25, max 100)",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "reactionsLimit",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Max reactors per platform (default 25, max 100)",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement per platform",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "integer"
                    },
                    "platforms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "type": "string"
                          },
                          "platformPostId": {
                            "type": "string",
                            "nullable": true
                          },
                          "platformUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "engagement": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "comments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "text": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "likeCount": {
                                      "type": "integer"
                                    },
                                    "actor": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "handle": {
                                          "type": "string"
                                        },
                                        "headline": {
                                          "type": "string"
                                        },
                                        "profileImage": {
                                          "type": "string"
                                        },
                                        "profileUrl": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "reactions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "actor": {
                                      "type": "object"
                                    }
                                  }
                                }
                              },
                              "hasMoreComments": {
                                "type": "boolean"
                              },
                              "hasMoreReactions": {
                                "type": "boolean"
                              },
                              "unsupported": {
                                "type": "boolean"
                              },
                              "notice": {
                                "type": "string"
                              }
                            }
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/posts/{id}/story": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Publish as Story",
        "description": "Publish the post's first media as a Facebook or Instagram Story (disappears after 24h). The post must have media and a published platform entry for the target platform.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "platform"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "facebook",
                      "instagram"
                    ],
                    "description": "**required** \u2014 Target platform for the story"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Story published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "postId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid platform, no media, or no matching platform entry"
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/api/posts/bulk": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Bulk actions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "postIds"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "delete",
                      "retry",
                      "reschedule"
                    ]
                  },
                  "postIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk action completed"
          }
        }
      }
    },
    "/api/posts/queue-slot": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get next available queue slot",
        "description": "Returns the next available time slot for scheduling a post based on your queue settings.",
        "parameters": [
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 IANA timezone (default: UTC)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next available queue slot"
          }
        }
      }
    },
    "/api/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List channels",
        "description": "Returns all connected channels including tokenExpiresAt and metadata per channel.",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter by active status (default: true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Channel"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get channel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details"
          }
        }
      },
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Disconnect channel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected"
          }
        }
      }
    },
    "/api/channels/{id}/health": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Check channel health",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health status"
          }
        }
      }
    },
    "/api/channels/{id}/options": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get platform-specific options for a channel",
        "description": "Returns boards (Pinterest), playlists (YouTube), or organizations (LinkedIn) depending on the channel's platform. Returns empty items for platforms without sub-resources.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Channel ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "boards",
                        "playlists",
                        "organizations",
                        null
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/channels/{id}/mentions": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Search users for @mention",
        "description": "Search for users on a channel's platform to @mention in post content. Currently supported on X (Twitter) and Bluesky. Other platforms return an empty array.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Channel ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (max 100 chars)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/channel-sets": {
      "get": {
        "tags": [
          "Channel Sets"
        ],
        "summary": "List channel sets",
        "description": "Saved channel groupings for one-click multi-channel targeting.",
        "responses": {
          "200": {
            "description": "Channel sets"
          }
        }
      },
      "post": {
        "tags": [
          "Channel Sets"
        ],
        "summary": "Create channel set",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "channelIds"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 1,
                    "description": "IDs of channels in your organization"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid name or channelIds"
          },
          "409": {
            "description": "Duplicate name"
          }
        }
      }
    },
    "/api/channel-sets/{id}": {
      "put": {
        "tags": [
          "Channel Sets"
        ],
        "summary": "Update channel set",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 1,
                    "description": "IDs of channels in your organization"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Duplicate name"
          }
        }
      },
      "delete": {
        "tags": [
          "Channel Sets"
        ],
        "summary": "Delete channel set",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/rss-feeds": {
      "get": {
        "tags": [
          "RSS Autopost"
        ],
        "summary": "List RSS feeds",
        "description": "RSS/Atom feeds polled every 15 minutes; new items become posts. Polling uses conditional GET (ETag/Last-Modified) and exponential backoff on errors (15 minutes doubling to 24 hours); a feed is automatically disabled after 20 consecutive failed polls (`enabled` becomes false and `lastError` explains why). The first successful poll baselines the feed's existing backlog without posting it.",
        "responses": {
          "200": {
            "description": "Feeds"
          }
        }
      },
      "post": {
        "tags": [
          "RSS Autopost"
        ],
        "summary": "Add RSS feed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "feedUrl",
                  "channelIds"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "feedUrl": {
                    "type": "string",
                    "description": "Public RSS 2.0 or Atom feed URL"
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 1
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "publish"
                    ],
                    "default": "draft",
                    "description": "draft = new items become drafts for review; publish = auto-published"
                  },
                  "fieldMapping": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Per-feed field mapping controlling how an RSS/Atom item becomes post content. null (default) uses the built-in mapping: template \"{title}\\n\\n{link}\", no media, stripHtml true, smart truncation. Media selection is post-level (media attaches to the post, not a single channel); per-channel overrides cover text only, and channels on the same platform share one rendered text (written to the post's platformContent, as in the composer). Channels whose platform requires media (e.g. Instagram, TikTok, YouTube) are skipped for items lacking a usable enclosure, with the reason recorded in the activity log.",
                    "properties": {
                      "template": {
                        "type": "string",
                        "maxLength": 2000,
                        "default": "{title}\n\n{link}",
                        "description": "Caption template. Standard tokens: {title} {link} {description} {content} {author} {categories} {feedName}. Any extra leaf field on the feed item (namespaced or not, e.g. {publisher}) can also be used as {fieldName} (lowercased localName); the editor surfaces the feed's real fields as pills after a preview. A line whose tokens all render empty is dropped."
                      },
                      "mediaField": {
                        "type": "string",
                        "enum": [
                          "none",
                          "image",
                          "video",
                          "auto"
                        ],
                        "default": "none",
                        "description": "Which item enclosure to import and attach: none, the item image, the item video, or auto (video if present, else image). The file is re-hosted to your media library; if the import fails the post is created without media."
                      },
                      "stripHtml": {
                        "type": "boolean",
                        "default": true,
                        "description": "Strip HTML tags/entities from {title}/{description}/{content}."
                      },
                      "truncate": {
                        "type": "string",
                        "enum": [
                          "smart",
                          "hard",
                          "skip"
                        ],
                        "default": "smart",
                        "description": "When rendered text exceeds the platform character limit: smart = trim at a word boundary keeping a trailing link line; hard = cut at the limit; skip = don't post to that channel."
                      },
                      "hashtags": {
                        "type": "string",
                        "maxLength": 500,
                        "default": "",
                        "description": "Appended after the rendered template."
                      },
                      "channelOverrides": {
                        "type": "object",
                        "description": "Per-channel text overrides keyed by channel id (as a string). Each override may set template, hashtags, stripHtml, truncate; mediaField cannot be overridden per channel.",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "template": {
                              "type": "string",
                              "maxLength": 2000
                            },
                            "hashtags": {
                              "type": "string",
                              "maxLength": 500
                            },
                            "stripHtml": {
                              "type": "boolean"
                            },
                            "truncate": {
                              "type": "string",
                              "enum": [
                                "smart",
                                "hard",
                                "skip"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Create an RSS/Atom feed. Plan-gated: max feeds per org (Free 1, Pro 10, Business 50) and auto-publish mode (`mode: \"publish\"`) is paid-only \u2014 Free is draft-only and a `publish` request returns 403. Over the feed limit returns 403. Feed poll cadence is also per-plan (Free 60 min, Pro 30 min, Business 15 min)."
      }
    },
    "/api/rss-feeds/{id}": {
      "put": {
        "tags": [
          "RSS Autopost"
        ],
        "summary": "Update RSS feed",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "feedUrl": {
                    "type": "string",
                    "description": "Public RSS 2.0 or Atom feed URL"
                  },
                  "channelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 1
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "publish"
                    ],
                    "default": "draft",
                    "description": "draft = new items become drafts for review; publish = auto-published"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "fieldMapping": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Per-feed field mapping controlling how an RSS/Atom item becomes post content. null (default) uses the built-in mapping: template \"{title}\\n\\n{link}\", no media, stripHtml true, smart truncation. Media selection is post-level (media attaches to the post, not a single channel); per-channel overrides cover text only, and channels on the same platform share one rendered text (written to the post's platformContent, as in the composer). Channels whose platform requires media (e.g. Instagram, TikTok, YouTube) are skipped for items lacking a usable enclosure, with the reason recorded in the activity log. Pass null to clear back to the default mapping.",
                    "properties": {
                      "template": {
                        "type": "string",
                        "maxLength": 2000,
                        "default": "{title}\n\n{link}",
                        "description": "Caption template. Standard tokens: {title} {link} {description} {content} {author} {categories} {feedName}. Any extra leaf field on the feed item (namespaced or not, e.g. {publisher}) can also be used as {fieldName} (lowercased localName); the editor surfaces the feed's real fields as pills after a preview. A line whose tokens all render empty is dropped."
                      },
                      "mediaField": {
                        "type": "string",
                        "enum": [
                          "none",
                          "image",
                          "video",
                          "auto"
                        ],
                        "default": "none",
                        "description": "Which item enclosure to import and attach: none, the item image, the item video, or auto (video if present, else image). The file is re-hosted to your media library; if the import fails the post is created without media."
                      },
                      "stripHtml": {
                        "type": "boolean",
                        "default": true,
                        "description": "Strip HTML tags/entities from {title}/{description}/{content}."
                      },
                      "truncate": {
                        "type": "string",
                        "enum": [
                          "smart",
                          "hard",
                          "skip"
                        ],
                        "default": "smart",
                        "description": "When rendered text exceeds the platform character limit: smart = trim at a word boundary keeping a trailing link line; hard = cut at the limit; skip = don't post to that channel."
                      },
                      "hashtags": {
                        "type": "string",
                        "maxLength": 500,
                        "default": "",
                        "description": "Appended after the rendered template."
                      },
                      "channelOverrides": {
                        "type": "object",
                        "description": "Per-channel text overrides keyed by channel id (as a string). Each override may set template, hashtags, stripHtml, truncate; mediaField cannot be overridden per channel.",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "template": {
                              "type": "string",
                              "maxLength": 2000
                            },
                            "hashtags": {
                              "type": "string",
                              "maxLength": 500
                            },
                            "stripHtml": {
                              "type": "boolean"
                            },
                            "truncate": {
                              "type": "string",
                              "enum": [
                                "smart",
                                "hard",
                                "skip"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "tags": [
          "RSS Autopost"
        ],
        "summary": "Delete RSS feed",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/media": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List media files",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Items per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Search by filename",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "labelIds",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Comma-separated label IDs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media list"
          }
        }
      },
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload media (single request)",
        "description": "Upload an image or video file in one multipart request (server relays to storage). Max 100MB. Formats: JPEG, PNG, WebP, GIF, MP4, QuickTime, WebM. Browser clients should prefer the faster direct-to-storage flow: POST /api/media/presign then PUT the file to the returned URL then POST /api/media/finalize.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/api/media/presign": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Get a direct upload URL",
        "description": "Step 1 of the direct-to-storage upload. Checks the storage quota and returns a presigned PUT URL plus the object key. PUT the file (max 100MB) to `uploadUrl` with a matching `Content-Type` header, then call POST /api/media/finalize.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contentType",
                  "sizeBytes"
                ],
                "properties": {
                  "contentType": {
                    "type": "string",
                    "description": "MIME type (JPEG, PNG, WebP, GIF, MP4, QuickTime, WebM)"
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "description": "Size of the file to upload in bytes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presigned URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadUrl": {
                      "type": "string"
                    },
                    "r2Key": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid type or size"
          },
          "403": {
            "description": "Storage quota exceeded"
          }
        }
      }
    },
    "/api/media/finalize": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Finalize a direct upload",
        "description": "Step 2 of the direct-to-storage upload. After the file is PUT to the presigned URL, this records the media file and queues thumbnail generation. The stored object is verified server-side (existence, size, magic bytes) before the record is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "r2Key",
                  "fileName",
                  "mimeType",
                  "sizeBytes"
                ],
                "properties": {
                  "r2Key": {
                    "type": "string",
                    "description": "Object key returned by /api/media/presign"
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "sizeBytes": {
                    "type": "integer"
                  },
                  "width": {
                    "type": "integer",
                    "description": "**optional** \u2014 image/video width"
                  },
                  "height": {
                    "type": "integer",
                    "description": "**optional** \u2014 image/video height"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "**optional** \u2014 video duration in seconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media file created"
          },
          "400": {
            "description": "Invalid key, missing object, or content mismatch"
          },
          "403": {
            "description": "Storage quota exceeded"
          }
        }
      }
    },
    "/api/media/multipart/create": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Start multipart upload (large videos, up to 1GB)",
        "description": "Step 1 of the chunked direct-to-storage upload for large files. Returns an uploadId, the fixed part size (10MB), and a presigned PUT URL per part. Upload each 10MB slice of the file to its URL (a failed part can be retried on its own \u2014 a network drop never restarts the whole file), collect each response's ETag header, then call /api/media/multipart/complete.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contentType",
                  "sizeBytes"
                ],
                "properties": {
                  "contentType": {
                    "type": "string",
                    "description": "One of the allowed media MIME types"
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "description": "Exact file size. Videos up to 1GB; images up to 100MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "uploadId, r2Key, partSize, and presigned partUrls"
          },
          "400": {
            "description": "Disallowed type or file too large"
          }
        }
      }
    },
    "/api/media/multipart/complete": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Complete multipart upload",
        "description": "Step 2: assembles the uploaded parts, verifies the stored object (existence, size, content magic bytes, storage quota) and records the media file. Same verification and response shape as /api/media/finalize.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "r2Key",
                  "uploadId",
                  "parts",
                  "fileName",
                  "mimeType",
                  "sizeBytes"
                ],
                "properties": {
                  "r2Key": {
                    "type": "string"
                  },
                  "uploadId": {
                    "type": "string"
                  },
                  "parts": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "partNumber",
                        "etag"
                      ],
                      "properties": {
                        "partNumber": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "etag": {
                          "type": "string",
                          "description": "ETag response header from the part PUT"
                        }
                      }
                    }
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "sizeBytes": {
                    "type": "integer"
                  },
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "duration": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media file recorded"
          },
          "400": {
            "description": "Assembly or verification failed"
          }
        }
      }
    },
    "/api/media/multipart/abort": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Abort multipart upload",
        "description": "Cancel an in-progress chunked upload and free its stored parts.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "r2Key",
                  "uploadId"
                ],
                "properties": {
                  "r2Key": {
                    "type": "string"
                  },
                  "uploadId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aborted"
          }
        }
      }
    },
    "/api/media/{id}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get media file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media details"
          }
        }
      },
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete media file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/media/{id}/thumbnail": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get media thumbnail",
        "description": "Redirects to the thumbnail URL for the given media file.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to thumbnail URL"
          },
          "404": {
            "description": "Media not found or no thumbnail available"
          }
        }
      }
    },
    "/api/media/{id}/labels": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get media labels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels"
          }
        }
      },
      "put": {
        "tags": [
          "Media"
        ],
        "summary": "Set media labels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "labelIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/api/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Summary stats",
        "description": "Post counts by status, platform, and day. The date window is capped at 30 days: `from` is silently clamped so that it is never more than 30 days before `to`.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "**required** \u2014 Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "**required** \u2014 End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary data"
          }
        }
      }
    },
    "/api/analytics/engagement": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Engagement metrics",
        "description": "Impressions, reach, likes, comments, shares, saves, clicks, video views with per-platform breakdown and top posts. Results are cached for 5 minutes. The date window is capped at 30 days: `from` is silently clamped so that it is never more than 30 days before `to`.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "**required** \u2014 Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "**required** \u2014 End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "description": "**optional** \u2014 Filter to a single channel",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement data including totalImpressions, totalReach, totalLikes, totalComments, totalShares, totalSaves, totalClicks, totalVideoViews, avgEngagementRate, byPlatform, byDay, topPosts"
[...]
